{% load static %}
<!DOCTYPE html>  
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
 <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
<title>CERT.CSTANDART.RU | Вход</title>
<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/colors/default.css' %}" id="theme"  rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>
    <section class="new-login-register">
        <div class="new-login-box">
                <div class="row">
                    <div class="col-xs-12">
                        <center><label>Проверка юридических лиц и ИП на наличие в реестре сертифицированных</label></center>
                    </div>
                    <div class="col-xs-8">
                        <input id="ogrn" class="form-control" type="text" required="" placeholder="ОГРН(ИП) организации">
                    </div>
                    <div class="col-xs-4">
                        <button id="search" class="btn btn-outline btn-default waves-effect waves-light"> <i class="fa fa-search m-r-5"></i> <span>Найти</span></button>
                    </div>
                    <div class="col-xs-12">
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                            <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Экспертиза</th>
                                    <th>Уровень</th>
                                    <th>Действителен до</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                            </tbody>
                        </table>
                    </div>
                    <div id="div_nothing" class="col-xs-12">
                        <p>Сертификаты не найдены</p>
                    </div>
                </div>    
       </div>         
    </section>
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<script>
$(document).ready(function(){
    $('#ogrn').val("");
    $('#table_body').html("");
    $('#demo-foo-addrow').hide();
    $('#div_nothing').hide();
});

function drawTable(data){
    let html = "";
    data.forEach(function(el){
        let td_num = "<tr><td><a href='/get/"+el.num+"?format=pdf'>"+el.num+"</a></td>";
        let td_profile_name = "<td>"+el.profile_name+"</td>";
        let td_level = "<td>"+el.level+"</td>";
        let td_certenddate = "<td>"+el.certenddate+"</td></tr>";
        var row = td_num + td_profile_name + td_level + td_certenddate;
        html = html+row;
    });
    $('#table_body').html(html);
    $('#div_nothing').hide();
    $('#demo-foo-addrow').show();
}

$('#search').click(function(e){
    e.preventDefault();
    url = "/search/cert/"+$('#ogrn').val();
    $.ajax({
        type:"GET",
        url:url,

        cache: false,
        success: function(responce){ 
            drawTable(responce.certs);
        },
       error: function(jqXHR){
        $('#demo-foo-addrow').hide();
        $('#div_nothing').show();
        }
      });
});
</script>


</body>
</html>
