{% extends '../base.html' %}
    {% block page %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Учетные записи</h3> 
                        </div>
                    </div>
                </div>

           
                <div class="row">
                        <div class="col-md-12">
                            <div class="white-box">
                               
                                    <h3 class="box-title">Учетные записи сотрудников</h3>
                                    <div class="scrollable">
                                        <div class="table-responsive">
                                                <tr>
                                                    <td colspan="2">
                                                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Добавить сотрудника</button>
                                                    </td>
                                                </tr> 
                                            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Логин</th>
                                                        <th>Имя</th>
                                                        <th>Фамилия</th>
                                                        <th>E-mail</th>
                                                        <th>Контактный телефон</th>
                                                        <th>Уровень</th>
                                                      
                                                        <th>Активен</th>
                                                        <th>Пароль сменен</th>
                                                        <th>Последний вход</th>
                                                        
                                                        <th>Действия</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for slave in client.relations.all %}
                                                        <tr>
                                                            <td>{{ forloop.counter }} </td>
                                                            <td>{{ slave.username }}</td>
                                                            <td>{{ slave.first_name }}</td>
                                                            <td>{{ slave.last_name }}</td>
                                                            <td>{{ slave.email }}</td>
                                                            <td>{{ slave.phone }}</td>
                                                            <td>
                                                                    {% if slave.role_level == 'L3' %}
                                                                    <span class="label label-primary"> Максимальный</span>
                                                                    {% elif slave.role_level == 'L2' %}
                                                                    <span class="label label-info"> Продвинутый</span>
                                                                    {% else %}
                                                                    <span class="label label-success"> Базовый</span>
                                                                    {% endif %}                                                             
                                                            </td>
                                                          
                                                           
                                                            
                                                           
                                                            <td>{% if slave.is_active %}
                                                                    <span class="label label-success">Да</span>
                                                                {% else %}
                                                                    <span class="label label-danger">Нет</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{% if slave.slave_changed_pwd %}
                                                                        <span class="label label-success">Да</span>
                                                                    {% else %}
                                                                        <span class="label label-danger">Нет</span>
                                                                    {% endif %}
                                                            </td>

                                                            <td>{{ slave.last_login|date:"d.m.Y H:i:s" }}</td>
                                                            
                                                            <td>
                                                                    
                                                                   <!-- <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-cog"></i> </button>-->
                                                                    {% if slave.role_level != levels.2 %}
                                                                    <a href="/accounts/api/ban/{{slave.username}}/"> <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-ban"></i> </button></a>
                                                                     
                                                                    <button type="button" data-username="{{ slave.username }}" class="btn btn-danger btn-circle delete-warning"><i class="fa fa-times"></i> </button>
                                                                    {% endif %} 
                                                                </td>
                                                        </tr>
                                                    {% endfor %}
                                                    
                                    
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                         <form class="form-horizontal form-material" method="POST" action="" id="add_form">
                                                        <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                        <h4 class="modal-title" id="myModalLabel">Добавление нового сотрудника</h4> </div>
                                                                    <div class="modal-body">
                                                                      
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="mode" value="add">
                                                                            <div class="form-group">
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="username" placeholder="Логин"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="email" placeholder="E-mail"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="first_name" placeholder="Имя"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="last_name" placeholder="Фамилия"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="father_name" placeholder="Отчество"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="phone" placeholder="Контактный телефон"> </div>
                                                                            <!--    <div class="col-md-12 m-b-20 form-group">
                                                                                             <select class="form-control tooltip-primary" name="link_name" data-toggle="tooltip" data-placement="top" title="" data-original-title="Привязка">
                                                                                                 {% for f in flows.flows %}
                                                                                                     
                                                                                                         <option>{{ f.link_name }}</option>
                                                                                                     
                                                                                                 {% endfor %}
                                                                                             </select>
                                                                                     </div>-->
                                                                            </div>
                                                                        
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-info waves-effect" data-dismiss="modal" id="add_btn">Создать</button>
                                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                                                                    </div>
                                                                </div>
                                                                <!-- /.modal-content -->
                                                            </div>
                                                            <!-- /.modal-dialog -->
                                                        </div>
                                                        </form>

                                                        <td colspan="7">
                                                            <div class="text-right">
                                                                <ul class="pagination"> </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
    



            </div>
        </div>



    {% endblock page %}

{% block scriptaddons %}
<script>
$('#add_btn').click(function(){
    $('#add_form').submit();

});

{% if error %}
$(document).ready(function(){
        $.toast({
            heading: 'Ошибка',
            text: '{{ error }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });

{% endif %}


$('.delete-warning').click(function(){
    username = $(this).attr("data-username")
    swal({   
        title: "Удаление пользователя",   
        text: "Это действие необратимо. Вы уверены?",   
        type: "warning",   
        showCancelButton: true,   
        confirmButtonColor: "#DD6B55",   
        confirmButtonText: "Да, удалить!",   
        closeOnConfirm: true 
    }, function(){   
     
        document.location.href = "/accounts/api/delete/"+username;

    });
});
</script>

{% endblock scriptaddons %}