{% extends '../base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Учетные записи</h3> 
                        </div>
                    </div>
                </div>

           
                <div class="row">
                        <div class="col-md-12">
                            <div class="white-box">
                               
                                    <h3 class="box-title">Учетные записи</h3>
                                    <div class="scrollable">
                                        <div class="table-responsive">
                                                <tr><!--
                                                        <td colspan="2">
                                                            <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-client">Добавить клиента</button>
                                                        </td>-->
                                                        <td colspan="2">
                                                                <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-audit">Добавить аудитора</button>
                                                        </td>
                                                        <td colspan="2">
                                                                <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-admin">Добавить администратора</button>
                                                        </td>
                                                </tr> 
                                            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Логин</th>
                                                        <th>Имя</th>
                                                        <th>Фамилия</th>
                                                        <th>E-mail</th>
                                                        <th>Роль</th>
                                                        <th>Уровень</th>
                                                        <th>Подчиненные</th>
                                                        <th>Подтвержден</th>
                                                        <th>Одобрен</th>
                                                        <th>Активен</th>
                                                        
                                                        <th>Последний вход</th>
                                                        
                                                        <th>Действия</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in accounts %}
                                                        <tr>
                                                            <td>{{ forloop.counter }} </td>
                                                            <td>{{ a.username }}</td>
                                                            <td>{{ a.first_name }}</td>
                                                            <td>{{ a.last_name }}</td>
                                                            <td>{{ a.email }}</td>
                                                            <td>
                                                                                                                                 
                                                                {% if a.role_class == 'C3' %}
                                                                <span class="label label-primary"> Администратор</span>
                                                                {% elif a.role_class == 'C2' %}
                                                                <span class="label label-info"> Аудитор</span>
                                                                {% else %}
                                                                <span class="label label-success"> Клиент</span>
                                                                {% endif %}                                                            
                                                            </td>
                                                            <td>
                                                                
                                                                {% if a.role_level == 'L3' %}
                                                                <span class="label label-primary"> Максимальный</span>
                                                                {% elif a.role_level == 'L2' %}
                                                                <span class="label label-info"> Продвинутый</span>
                                                                {% else %}
                                                                <span class="label label-success"> Базовый</span>
                                                                {% endif %}
                                                                
                                                            </td>
                                                            <td><details class="details-slaves">
                                                                <summary></summary>
                                                                <br>
                                                                {% for s in a.relations.all %}
                                                                    {{ s }}<br>
                                                                {% endfor %}
                                                            </details>
                                                            </td>
                                                            <td>{% if a.confirmed %}
                                                                    <span class="label label-success">Да</span>
                                                                {% else %}
                                                                    <span class="label label-warning">Нет</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>{% if a.approved %}
                                                                    <span class="label label-success">Да</span>
                                                                {% else %}
                                                                    <span class="label label-warning">Нет</span>
                                                                {% endif %}</td>
                                                            <td>{% if a.is_active %}
                                                                        <span class="label label-success">Да</span>
                                                                    {% else %}
                                                                        <span class="label label-danger">Нет</span>
                                                                    {% endif %}</td>
                                                            <td>{{ a.last_login|date:"d.m.Y H:i:s"  }}</td>
                                                            
                                                            <td>
                                                                     <a href="/accounts/api/approve/{{a.username}}/"> <button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i> </button></a>
                                                                   <!-- <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-cog"></i> </button>-->
                                                                    <a href="/accounts/api/ban/{{a.username}}/"> <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-ban"></i> </button></a>
                                                                    <button type="button" data-username="{{ a.username }}" class="btn btn-danger btn-circle delete-warning"><i class="fa fa-times"></i> </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    
                                    
                                                </tbody>
                                                <tfoot>
                                                    <tr>

                                                    <form class="form-horizontal form-material" method="POST" action="" id="add_client_form">
                                                       <div id="add-client" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                           <div class="modal-dialog">
                                                               <div class="modal-content">
                                                                   <div class="modal-header">
                                                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                       <h4 class="modal-title" id="myModalLabel">Добавление клиента</h4> </div>
                                                                   <div class="modal-body">
                                                                     
                                                                           {% csrf_token %}
                                                                           <input type="hidden" name="mode" value="addclient">
                                                                           <div class="form-group">
                                                                                <div class="col-md-12 m-b-20">
                                                                                   <input type="text" class="form-control" name="username" placeholder="Логин"> </div>
                                                                               
                                                                                
                                                                                <div class="col-md-12 m-b-20 form-group">
                                                                                        <select class="form-control tooltip-primary" name="boss" data-toggle="tooltip" data-placement="top" title="" data-original-title="Руководитель">
                                                                                            {% for boss in accounts %}
                                                                                                {% if boss.role_class == 'C1' and boss.role_level == 'L3' %}
                                                                                                    <option>{{ boss.username }}</option>
                                                                                                {% endif %}
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                   <input type="text" class="form-control" name="email" placeholder="E-mail"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="last_name" placeholder="Фамилия"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                   <input type="text" class="form-control" name="first_name" placeholder="Имя"> </div>
                                                                               <div class="col-md-12 m-b-20">
                                                                                   <input type="text" class="form-control" name="father_name" placeholder="Отчество"> </div>
                                                                               <div class="col-md-12 m-b-20">
                                                                                   <input type="text" class="form-control" name="phone" placeholder="Контактный телефон"> </div>
                                                                            
                                                                           </div>
                                                                       
                                                                   </div>
                                                                   <div class="modal-footer">
                                                                       <button type="submit" class="btn btn-info waves-effect" data-dismiss="modal" id="add_client_btn">Создать</button>
                                                                       <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                                                                   </div>
                                                               </div>
                                                         
                                                           </div>
                                                           
                                                       </div>
                                                       </form>







                                                       <form class="form-horizontal form-material" method="POST" action="" id="add_audit_form">
                                                        <div id="add-audit" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                        <h4 class="modal-title" id="myModalLabel">Добавление аудитора</h4> </div>
                                                                    <div class="modal-body">
                                                                      
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="mode" value="addaudit">
                                                                            <div class="form-group">
                                                                                 <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="username" placeholder="Логин"> </div>
                                                                                
                                                                                    
                                                                                 <div class="col-md-12 m-b-20 form-group">
                                                                                         <select class="form-control tooltip-primary" name="boss" data-toggle="tooltip" data-placement="top" title="" data-original-title="Руководитель">
                                                                                             {% for boss in accounts %}
                                                                                                 {% if boss.role_class == 'C2' and boss.role_level == 'L3' %}
                                                                                                     <option>{{ boss.username }}</option>
                                                                                                 {% endif %}
                                                                                             {% endfor %}
                                                                                         </select>
                                                                                 </div>

                                                                                 <div class="col-md-12 m-b-20 form-group">
                                                                                    <select class="form-control tooltip-primary" name="level" data-toggle="tooltip" data-placement="top" title="" data-original-title="Уровень">
                                                                                        {% for l in levels %}
                                                                                            
                                                                                                <option>{{l.1}}</option>
                                                                                            
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                                 <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="email" placeholder="E-mail"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="last_name" placeholder="Фамилия"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="first_name" placeholder="Имя"> </div>
                                                                                
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="father_name" placeholder="Отчество"> </div>
                                                                                <div class="col-md-12 m-b-20">
                                                                                    <input type="text" class="form-control" name="phone" placeholder="Контактный телефон"> </div>
                                                                             
                                                                            </div>
                                                                        
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-info waves-effect" data-dismiss="modal" id="add_audit_btn">Создать</button>
                                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                                                                    </div>
                                                                </div>
                                                          
                                                            </div>
                                                            
                                                        </div>
                                                        </form>



                                                        <form class="form-horizontal form-material" method="POST" action="" id="add_admin_form">
                                                            <div id="add-admin" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                            <h4 class="modal-title" id="myModalLabel">Добавление администратора</h4> </div>
                                                                        <div class="modal-body">
                                                                          
                                                                                {% csrf_token %}
                                                                                <input type="hidden" name="mode" value="addadmin">
                                                                                <div class="form-group">
                                                                                     <div class="col-md-12 m-b-20">
                                                                                        <input type="text" class="form-control" name="username" placeholder="Логин"> </div>
                                                                                    
                                                                                     
                                                                                     <div class="col-md-12 m-b-20 form-group">
                                                                                             <select class="form-control tooltip-primary" name="boss" data-toggle="tooltip" data-placement="top" title="" data-original-title="Руководитель">
                                                                                                 {% for boss in accounts %}
                                                                                                     {% if boss.role_class == 'C3' and boss.role_level == "L3" %}
                                                                                                         <option>{{ boss.username }}</option>
                                                                                                     {% endif %}
                                                                                                 {% endfor %}
                                                                                             </select>
                                                                                     </div>
    
                                                                                    
                                                                                     <div class="col-md-12 m-b-20">
                                                                                        <input type="text" class="form-control" name="email" placeholder="E-mail"> </div>
                                                                                    <div class="col-md-12 m-b-20">
                                                                                        <input type="text" class="form-control" name="last_name" placeholder="Фамилия"> </div>
                                                                                    <div class="col-md-12 m-b-20">
                                                                                        <input type="text" class="form-control" name="first_name" placeholder="Имя"> </div>
                                                                                    
                                                                                    <div class="col-md-12 m-b-20">
                                                                                        <input type="text" class="form-control" name="father_name" placeholder="Отчество"> </div>
                                                                                    <div class="col-md-12 m-b-20">
                                                                                        <input type="text" class="form-control" name="phone" placeholder="Контактный телефон"> </div>
                                                                                 
                                                                                </div>
                                                                            
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-info waves-effect" data-dismiss="modal" id="add_admin_btn">Создать</button>
                                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                                                                        </div>
                                                                    </div>
                                                              
                                                                </div>
                                                                
                                                            </div>
                                                            </form>


                                                       <td colspan="7">
                                                           <div class="text-right">
                                                               <ul class="pagination"> </ul>
                                                           </div>
                                                       </td>
                                                   </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
    



            </div>
        </div>



    {% endblock page %}

{% block scriptaddons %}
<script>
$('.delete-warning').click(function(){
    username = $(this).attr("data-username")
    swal({   
        title: "Удаление пользователя",   
        text: "Это действие необратимо. Вы уверены?",   
        type: "warning",   
        showCancelButton: true,   
        confirmButtonColor: "#DD6B55",   
        confirmButtonText: "Да, удалить!",   
        closeOnConfirm: true 
    }, function(){   
        //$.get("/accounts/api/delete/"+username);
        document.location.href = "/accounts/api/delete/"+username;
        //document.location.reload() 
        //swal("Deleted!", "Your imaginary file has been deleted.", "success"); 
    });
});

$('#add_client_btn').click(function(){
    $('#add_client_form').submit();
});

$('#add_audit_btn').click(function(){
    $('#add_audit_form').submit();
});

$('#add_admin_btn').click(function(){
    $('#add_admin_form').submit();
});

{% if error %}
$(document).ready(function(){
        $.toast({
            heading: 'Ошибка',
            text: '{{ error }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });

{% endif %}

</script>



{% endblock scriptaddons %}