{% extends '../base.html' %}
    {% block page %}
    {% load static %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Версия доступа: {{card.full.link_name}}</h3> 
                            <h3 class="box-title">Раздел экспертизы: {{client_flow.object.profile.name}}</h3> 
                            <h6>Вы можете закрепить исполнителя на конкретный вопрос, нажав на
                            <button type="button" class="btn btn-success btn-circle" ><i class="fa fa-link"></i> </button> или выбрать несколько вопросов (блоков) и нажать <strong>ДЕЙСТВИЯ-ЗАКРЕПЛЕНИЕ</strong> </h6>
                      
                       <div class="progress progress-lg" title="Прогресс прохождения опроса">
                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{client_flow.stat.green_pr}}%;" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{client_flow.stat.yellow_pr}}%;" class="progress-bar progress-bar-warning progress-bar-striped active"></div>
                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{client_flow.stat.red_pr}}%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                        
                        
                                                        </div>
                        {% if client_flow.completed %}
                      <h5>Весь опрос пройден, ожидайте выдачи сертификата</h5>
                      {% elif client_flow.stat.yellow != 0 %}
                      <h5>Все вопросы пройдены, ожидайте одобрения экспертом</h5>
                      {% elif client_flow.stat.red != 0 %}
                      <h5>Все вопросы пройдены, ожидайте одобрения экспертом</h5>
                      {% else %}
                      <h5>Остались неотвеченные вопросы</h5>
                        {% endif %}
                        </div>

                        
                        
                {% if not is_slave %}
                        <div class="white-box" id="mass-selection-box">
                            <div class="btn-group m-r-10">
                                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">Действия <span class="caret"></span></button>
                                <ul role="menu" class="dropdown-menu">
                                    {% if can_change_status %}
                                    <li><a href="" id="mass-status-change">Смена статуса</a></li>
                                    <li><a href="" id="create-cert">Выдача сертификата</a></li>
                                    {% endif %}
                                    {% if card.full.client.username == request.user.username %}
                                    <li><a href="" id="mass-stage-link">Закрепление исполнителя</a></li>
                                    {% endif %}
                                    
                                    
                                </ul>
                            </div>
           

                            {% if can_change_status %}
                           
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">Отчеты <span class="caret"></span></button>
                            <ul role="menu" class="dropdown-menu">
                                
                                <li><a href="" id="report_non_uploaded_files">Незагруженные файлы</a></li>
                                <li><a href="" id="report_risks_and_recs">Риски и рекомендации</a></li>
                                
                                
                                
                                
                            </ul>
                        
                            {% endif %}
                            
                            <button class="fcbtn btn btn-warning btn-outline btn-1d" id="mass-check-reset">Сбросить выделение</button>
                        </div>
                        
  {% endif %}
                      


                    </div>
                </div>

            

                
                <div class="row">
                    
                    <div class="col-xs-12">
                        <div class="white-box">
                            <!-- .tabs -->
                            <ul class="nav nav-tabs tabs customtab">

                            
                                <li class="active tab">
                                    <a href="#process" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">Подраздел экспертизы</span> </a>
                                </li>
                                {% if boss_username == request.user.username%}
                                <li class="tab">
                                    <a href="#subs" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs">Исполнители</span> </a>
                                </li>
                                {% endif %}
                                <li class="tab">
                                    <a href="#tasks" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Вопросы для ответа</span> </a>
                                </li>
                                {% if can_change_status %}
                                <li class="tab">
                                    <a href="#log" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">События</span> </a>
                                </li>
                                {% endif %}
                            {% if 1 == 2 %}
                            <li class="tab">
                                    <a href="#links" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Закрепления</span> </a>
                            </li>
                            
                            {% endif %}

                            </ul>
                            <!-- /.tabs -->
                            <div class="tab-content">
                    {% if client_flow.success %}
                                <!-- .tabs 1 -->
                                <div class="tab-pane active" id="process">
                                    {% if client_flow.success %}


                                    <div class="steamline">

                                {% for block in client_flow.object.profile.blocks %}
                                    {% for stage in block.questions %}
                                        {% if stage.common_name == 'КОНЕЦ ОПРОСА' %}
                                            {% if stage.client_data.visible or can_change_status %}
                                            <div class="sl-item">
                                                   
                                                    {% if stage.client_data.status == 'available' %}
                                                    <div title="Доступно для прохождения" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-info"> 
                                                    {% elif stage.client_data.status == 'completed' %}
                                                    <div title="Завершено" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-success">
                                                    {% elif stage.client_data.status == 'paused' %}
                                                    <div title="Отправлено на экспертизу" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-warning">
                                                    {% elif stage.client_data.status == 'denied' %}
                                                    <div title="Отказано" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-danger">
                                                    {% else %}
                                                    <div title="Недоступно" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left">
                                                    {% endif %}
                                                        <i class="fa fa-database"></i>
                                                    </div>
                                                    <div class="sl-right" >      
                                                    <input class="card-block-check" data-inblock="{{block.id}}" value="{{stage.id}}" type="checkbox">
                                                        <div class="m-l-40">  
                                                          {% if card.full.client.username == request.user.username %}
                                                            <button type="button" class="btn btn-success btn-circle stage-link-btn" data-stage="{{stage.id}}" data-name="{{stage.common_name}}"><i class="fa fa-link"></i> </button>
                                                            {% endif %}  
                                                            <a class="text-info">{{stage.common_name}}</a>
                                                            <h6>Ответьте на этот "вопрос" и завершите тестирование</h6>
                                                                                                       
                                                            </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}



                                    {% for block in client_flow.object.profile.blocks %}
                                 
                                    <details class="card-details-block"><summary class="card-details-block-summary"><input class="card-block-check-block" value="{{block.id}}" type="checkbox"> {{block.name}}</summary>
                                        {% for stage in block.questions %}

                                        {% if stage.common_name != 'КОНЕЦ ОПРОСА' %}
                                          
                                            {% if stage.client_data.visible or can_change_status %}
                                            <div class="sl-item">
                                                   
                                                    {% if stage.client_data.status == 'available' %}
                                                    <div title="Доступно для прохождения" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-info"> 
                                                    {% elif stage.client_data.status == 'completed' %}
                                                    <div title="Завершено" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-success">
                                                    {% elif stage.client_data.status == 'paused' %}
                                                    <div title="Отправлено на экспертизу" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-warning">
                                                    {% elif stage.client_data.status == 'denied' %}
                                                    <div title="Отказано" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left bg-danger">
                                                    {% else %}
                                                    <div title="Недоступно" data-stage="{{stage.id}}" data-current="{{stage.client_data.status}}" class="status-btn sl-left">
                                                    {% endif %}
                                                        <i class="fa fa-database"></i>

                                                    </div>
                                                    <div class="sl-right" >
                                                           
                                                    <input class="card-block-check" data-inblock="{{block.id}}" value="{{stage.id}}" type="checkbox">
                                                        <div class="m-l-40">
                                                            {% if card.full.client.username == request.user.username %}
                                                            <button type="button" class="btn btn-success btn-circle stage-link-btn" data-stage="{{stage.id}}" data-name="{{stage.common_name}}"><i class="fa fa-link"></i> </button>
                                                            {% endif %}
                                                            {% if can_change_status %}
                                                            <span class="mytooltip tooltip-effect-2"> <span class="">
                                                            <button type="button" class="btn btn-info btn-circle stage-comment-btn" data-stage="{{stage.id}}" data-name="{{stage.common_name}}" data-text="{{stage.client_data.comment.text}}"> <i class="fa fa-comments-o"></i> </button></span> <span class="tooltip-content clearfix"> <img src="/static/plugins/images/tooltip/Euclid.png" /> <span class="tooltip-text">{{stage.client_data.comment.text}}</span> </span> </span>
                                                            {% elif stage.client_data.comment.text != None and card.full.client.username == request.user.username %}
                                                             <span class="mytooltip tooltip-effect-2"> <span class="">
                                                            <button type="button" class="btn btn-info btn-circle "> <i class="fa fa-comments-o"></i> </button></span> <span class="tooltip-content clearfix"> <img src="/static/plugins/images/tooltip/Euclid.png" /> <span class="tooltip-text">{{stage.client_data.comment.text}}</span> </span> </span>
                                                            {% endif %}
                                                            <a class="text-info">{{stage.common_name|safe}}</a>
                                                            <p>{{stage.description|safe}}</p>
                                                         
                                                            
                                                                {% if stage.client_data.linked_to != None %}
                                                                <p>Закреплен за {{stage.client_data.linked_to}}</p>
                                                                
                                                                {% else %}
                                                                    {% if stage.client_data.status == 'available' %}
                                                                        <p>Не закреплен</p>
                                                                    {% endif %}
                                                            {% endif %}
                                                     
                                                            <p></p>
                                                            {% if stage.client_data.result.type != None %}
                                                            <details open>
                                                                <summary class="have_result">Имеется ответ клиента
                                                                    
                                                                </summary>
                                                                {% if stage.client_data.result.rate != None %}
                                                                    {% if can_change_status %}
                                                                        <p>Баллы: {{stage.client_data.result.rate}}</p>
                                                                    {% endif %}
                                                                {% endif %}
                                                                       {% if can_change_status %}
                                                                       
                                                                        <h6><strong>Несоответствия: </strong>{{stage.client_data.defections}}</h6>
                                                                        <h6><strong>Риски: </strong>{{stage.client_data.risks}}</h6>
                                                                        <h6><strong>Рекомендации: </strong>{{stage.client_data.recs}}</h6>
                                                                        
                                                                        {% endif %}
                                                                {% if stage.client_data.result.type == 'file' %}
                                                                    {% if stage.client_data.result.data %}
                                                                    <a title="{{stage.client_data.result.data}}" href="/media/{{boss_username}}/{{stage.client_data.result.data}}">
                                                                        <button type="button" class="btn btn-primary btn-circle" title="{{stage.client_data.result.comment}}">
                                                                            <i class="fa fa-cloud-download"></i> 
                                                                        </button>
                                                                    </a>
                                                                    <p>{{stage.client_data.result.text}}</p>
                                                                    
                                                                {% else %}
                                                                
                                                                    <button type="button" class="btn btn-danger btn-circle" title="Файл не загружен клиентом!">
                                                                        <i class="fa fa-cloud-download"></i> 
                                                                    </button>
                                                                <p>{{stage.client_data.result.text}}</p>
                                                                {% endif %}

                                                                    {% elif stage.client_data.result.type == 'text'%}
                                                                        {{stage.client_data.result.data}}
                                                                    {% elif stage.client_data.result.type == 'list'%}
                                                                        {% for a in stage.client_data.result.data %}
                                                                            {{a.text}}<br>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                    {{stage.client_data.result.data}}

                                                                {% endif %}
                                                            </details>
                                                            {% endif %}
                                                            </div>
                                                    </div>
                                                </div>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </details><br>
                            {% endfor %}

                                    </div>

                                    {% else %}

                                    <h4>{{client_flow.object}}</h4>
                                    {% endif %}
                                   
                                </div>
                                <!-- /.tabs1 -->
                                <!-- .tabs2 -->
                                <div class="tab-pane" id="subs">
                                    <div class="row">
                                      <br>
                                    </div>
                                    <div class="table-responsive">
                                       <h4>Для добавления сотрудников и получения детальной информации нажмите <a href="/accounts/client">сюда</a></h4>
                                       <h5>Эти аккаунты Вы можете назначить исполнителями для вопросов</h5>
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Логин</th>
                                                <th>Имя</th>
                                                <th>Фамилия</th>
                                                
                                                <th>Контактный телефон</th>
                                                <th>Уровень</th>
                                              
                                                <th>Активен</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                      
                                            {% for slave in slaves %}
                                                <tr>
                                                    <td>{{ forloop.counter }} </td>
                                                    <td>{{ slave.username }}</td>
                                                    <td>{{ slave.first_name }}</td>
                                                    <td>{{ slave.last_name }}</td>
                                                  
                                                    <td>{{ slave.phone }}</td>
                                                    <td>
                                                            {% if slave.role_level == 'L3' %}
                                                            <span class="label label-primary"> Максимальный</span>
                                                            {% elif slave.role_level == 'L2' %}
                                                            <span class="label label-info"> Продвинутый</span>
                                                            {% else %}
                                                            <span class="label label-success"> Базовый</span>
                                                            {% endif %}                                                             
                                                    </td>
                                                  
                                                   
                                                    
                                                   
                                                    <td>{% if slave.is_active %}
                                                            <span class="label label-success">Да</span>
                                                        {% else %}
                                                            <span class="label label-danger">Нет</span>
                                                        {% endif %}
                                                    </td>
                                                 
                                                </tr>
                                            {% endfor %}
                                            
                            
                                        </tbody>
                                    
                                    </table>
                                </div>
                                    <hr>
                                    
                                </div>
                                <!-- /.tabs2 -->
                                <!-- .tabs3 -->
                                <div class="tab-pane" id="tasks">
                                   {% if not tasks.success %}
                                   <h4>{{tasks.object}}</h4>
                                   <h5>Закрепите исполнителя за вопросом, и он сможет ответить на него в этом разделе</h5>
                                   {% else %}
                                   <div class="row" id="tasks-row">
                                        {% for t in tasks.object %}
                                        <!--non-visible-->
                                        {% if t.stage.client_data.visible %}
                                        <div   class="col-xs-12 topstageblock" id="task-block-{{t.stage.id}}" data-stageid="{{t.stage.id}}" >
                                        {% else %}
                                        <div   class="col-xs-12 topstageblock non-visible" id="task-block-{{t.stage.id}}" data-stageid="{{t.stage.id}}" >
                                        {% endif %}
                                        
                                            <div class="panel panel-default">
                                                <div class="panel-heading"><i class="ti-settings"></i> {{t.stage.common_name}}</div>
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <p>Раздел: {{t.parent_block}}</p>
                                                        <p>{{t.stage.description|safe}}</p>
                                                       
                                                        {% if t.stage.type == 'question' %}
                                                        <form action="" method="POST" id="answer-form-{{t.stage.id}}" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                                    <input type="hidden" name="stage" value="{{t.stage.id}}">
                                                                    <input type="hidden" name="mode" value="answer">
                                                                    <input type="hidden" name="q_type" value="{{t.stage.type}}">

                                                            {% if t.stage.question_type == 'plain' %}
                                                            <input type="text" name="answer" class="form-control" value="" class="task-answer-plain-{{t.stage.id}}"> 

                                                            {% elif t.stage.question_type == 'radio' %}
                                                                
                                                                    
                                                                {% for a in t.stage.answers %}

                                                                    <div class="radio radio-success">
                                                                        <input type="radio" name="answer" value="{{a.id}}" class="task-answer-radio-{{t.stage.stage}} file-{{a.file}}">
                                                                        <label for="radio4"> {{a.text}} </label>
                                                                        {% if a.file == 1 %}
                                                                        <input type="text" name="answer-file-comment" class="form-control" value="" placeholder="Краткий комментарий к файлу (если у вас много страниц в документе, на какой странице искать ответ на данный вопрос?)"> 
                                                                        <br>
                                                                        <p>Требуемый файл: <span class="official-file-name">{{a.official_filename}}</span></p>
                                                                        <input type="file" name="file" id="input-file-{{t.stage.stage}}" class="dropify-ru filefield" />
                                                                        {% endif %}

                                                                    </div>
                                                                {% endfor %}
                                                                
                                                            {% elif t.question_type == 'check' %}
                                                                {% for a in t.answers %}
                                                                    <div class="checkbox checkbox-success checkbox-circle">
                                                                        <input type="checkbox" name="answer-{{a.id}}" class="task-answer-check-{{t.stage.stage}} file-{{a.file}}">
                                                                        <label for="checkbox-10"> {{a.text}} </label>
                                                                        {% if a.file == 1 %}
                                                                            <input type="file" name="file" id="input-file-{{t.stage.stage}}" class="dropify-ru" />
                                                                            {% endif %}
                                                                    </div>
                                                                {% endfor %}

                                                        
                                                            {% endif %}
                                                            <br>
                                                            <button class="fcbtn btn btn-primary btn-outline btn-1b task-answer-question" data-type="{{t.stage.question_type}}" data-stage={{t.stage.id}}>Отправить</button>
                                                            </form>

                                                            {% elif t.stage.type == 'autocheck' %}
                                                            
                                                                {% for a in t.stage.answers %}
                                                                    <div class="checkbox checkbox-circle autocheck-div"  id="{{a.autocheck.value}}">
                                                                        <input type="checkbox" disabled checked>
                                                                        <label for="checkbox-10"> {{a.autocheck.label}} </label>
                                                                    
                                                                    </div>
                                                                {% endfor %}
                                                            <button class="fcbtn btn btn-primary btn-outline btn-1b btn-autocheck" data-stage={{t.stage.id}}>Проверить</button>
                                                           
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                        

                                        {% endfor %}
                                    </div>
                                   {% endif %}
                                </div>
                                <!-- /.tabs3 -->
                                <div class="tab-pane" id="log">
                                    <div class="row">
                                      <br>
                                    </div>
                                    <div class="table-responsive">
                                        {% if logs.success %}
                                         <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                        <thead>
                                            <tr>
                                                <th>Дата/время</th>
                                                <th>Уровень</th>
                                                <th>Источник</th>
                                                
                                                <th>Событие</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            {% for l in logs.object %}
                                            <tr>
                                                <td>{{l.timestamp}}</td>
                                                <td>
                                                    {% if l.log_level == 'message' %}
                                                        <button type="button" class="btn btn-success btn-circle"><i class="fa fa-asterisk"></i> </button>
                                                    {% elif l.log_level == 'info' %}
                                                        <button type="button" class="btn btn-info btn-circle"><i class="fa fa-bullhorn"></i> </button> 
                                                    {% elif l.log_level == 'warning' %}
                                                        <button type="button" class="btn btn-warning btn-circle"><i class="fa fa-eye"></i> </button>
                                                    {% elif l.log_level == 'danger' %}
                                                        <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-exclamation-circle"></i> </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-default btn-circle"><i class="fa fa-question"></i> </button>
                                                    {% endif %}
                                                </td>
                                              
                                                <td><a href="/card/{{l.log_action_user}}">{{l.log_action_user}}</a></td>
                                                
                                                <td>
                                                    {% if l.log_object == 'cert' and l.log_event == 'creation_request' %}
                                                        <span>Выдан <a href="/get/{{l.log_data.cert_id}}">сертификат</a> на компанию {{l.log_data.company}} уровня <span class="official-file-name">{{l.log_data.level|upper}}</span>, с рейтингом <span class="official-file-name">{{l.log_data.rate}}. <a href="/workflow/report/risks/{{l.log_data.report.flow_id}}?format=pdf">ОТЧЕТ</a></span></span>
                                                    {% elif l.log_object == 'stage' and l.log_event == 'answer' %}
                                                        <span>Ответ на <span class='have_result' data-toggle="tooltip" data-placement="top" title="" data-original-title="{{l.log_data.stage_common_name}}">этап</span>, новый статус - 
                                                        
                                                         {% if l.log_data.new_status == 'available' %}
                                                        <span class='info-text'>ДОСТУПНО</span>
                                                        {% elif l.log_data.new_status == 'completed' %}
                                                        <span class='success-text'>ВЫПОЛНЕНО</span>
                                                        {% elif l.log_data.new_status == 'paused' %}
                                                        <span class='warn-text'>ПРИОСТАНОВЛЕНО</span>
                                                        {% elif l.log_data.new_status == 'denied' %}
                                                        <span class='error-text'>ОТКАЗАНО</span>
                                                        {% else %}
                                                        <span class='default-text'>НЕДОСТУПНО</span>
                                                        {% endif %}
                                                        </span>
                                                    {% elif l.log_object == 'stage' and l.log_event == 'link' and l.log_data.mass == True %}
                                                        <span>Массовая привязка этапов: цель - <a href='/card/{{l.log_data.linked_to}}'>{{l.log_data.linked_to}}</a>, количество - {{l.log_data.stage_count}}</span>
                                                    {% elif l.log_object == 'stage' and l.log_event == 'link' %}
                                                        <span>Привязка <span class='have_result' data-toggle="tooltip" data-placement="top" title="" data-original-title="{{l.log_data.stage_common_name}}">этапа</span> к <a href='/card/{{l.log_data.linked_to}}'>{{l.log_data.linked_to}}</a></span>
                                                    {% elif l.log_object == 'stage' and l.log_event == 'status_change' and l.log_data.mass_change == True %}
                                                        <span>Массовая ручная смена статуса: количество - {{l.log_data.stage_count}}, новый статус - </span> 
                                                        
                                                        {% if l.log_data.new_status == 'available' %}
                                                        <span class='info-text'>ДОСТУПНО</span>
                                                        {% elif l.log_data.new_status == 'completed' %}
                                                        <span class='success-text'>ВЫПОЛНЕНО</span>
                                                        {% elif l.log_data.new_status == 'paused' %}
                                                        <span class='warn-text'>ПРИОСТАНОВЛЕНО</span>
                                                        {% elif l.log_data.new_status == 'denied' %}
                                                        <span class='error-text'>ОТКАЗАНО</span>
                                                        {% else %}
                                                        <span class='default-text'>НЕДОСТУПНО</span>
                                                        {% endif %}
                                                        </span>
                                                    
                                                    {% elif l.log_object == 'stage' and l.log_event == 'status_change' %}
                                                        <span>Ручная смена статуса <span class='have_result' data-toggle="tooltip" data-placement="top" title="" data-original-title="{{l.log_data.stage_common_name}}">этапа</span> на 
                                                        
                                                        {% if l.log_data.new_status == 'available' %}
                                                        <span class='info-text'>ДОСТУПНО</span>
                                                        {% elif l.log_data.new_status == 'completed' %}
                                                        <span class='success-text'>ВЫПОЛНЕНО</span>
                                                        {% elif l.log_data.new_status == 'paused' %}
                                                        <span class='warn-text'>ПРИОСТАНОВЛЕНО</span>
                                                        {% elif l.log_data.new_status == 'denied' %}
                                                        <span class='error-text'>ОТКАЗАНО</span>
                                                        {% else %}
                                                        <span class='default-text'>НЕДОСТУПНО</span>
                                                        {% endif %}
                                                        </span>
                                                    {% elif l.log_object == 'subclient' and l.log_event == 'creation' %}
                                                        <span>Создание подчиненного <a href='/card/{{l.log_data.subclient}}'>{{l.log_data.subclient}}</a></span>
                                                    {% elif l.log_object == 'subclient' and l.log_event == 'delete' %}
                                                        <span>Удаление подчиненного {{l.log_data.subclient}}</span>
                                                    {% elif l.log_object == 'subclient' and l.log_event == 'update' %}
                                                        <span>Обновление подчиненного <a href='/card/{{l.log_data.subclient}}'>{{l.log_data.subclient}}</a></span>
                                                    {% elif l.log_object == 'subclient' and l.log_event == 'ban' %}
                                                        <span>Блокировка подчиненного <a href='/card/{{l.log_data.subclient}}'>{{l.log_data.subclient}}</a></span>
                                                    {% elif l.log_object == 'profile' and l.log_event == 'creation' %}
                                                        <span>Создание процесса <span class='success-text'>{{l.log_data.profile_name}}</span> для клиента версии {{l.log_data.version}}</span>
                                                    {% elif l.log_object == 'profile' and l.log_event == 'audit_link' %}
                                                        <span>Привязка аудитора <a href='/card/{{l.log_data.auditor}}'>{{l.log_data.auditor}}</a> к клиенту</span>
                                                    {% else %}
                                                        <span class='error-text'>Неизвестно</span>
                                                    {% endif %}
                                                </td>
                                                
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    
                                    </table>
                                    {% else %}
                                    {{logs.object}}
                                    {% endif %}
                                </div>
                                    <hr>
                                    
                                </div>



                    {% elif who == 'C2' %}
                    <!-- .tabs4 -->
                    <div class="tab-pane active" id="links">
                            <div class="row">
                              <br>
                            </div>
                            <div class="table-responsive">
                                 <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Логин</th>
                                        <th>Версия</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in linked_for_auditor.object %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                           <td> <a href="/card/{{l.client}}">{{ l.client }}</a></td>
                                            <td>{{ l.flow_version }}</td>
                                         
                                        </tr>
                                    {% endfor %}
                                    
                    
                                </tbody>
                            
                            </table>
                        </div>
                            <hr>
                            
                        </div>
                        <!-- /.tabs4 -->

                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>




        <div id="link_stage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="link_title">Привязка этапа</h4> </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" id="link-stage-id" value="">
                                        <label class="col-sm-12">Исполнитель</label>
                                        <div class="col-sm-12">
                                            <select class="form-control" id="link-username">
                                                {% for s in slaves %}
                                                <option>{{s.username}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    
                           
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="modal-submit-link" class="btn btn-info waves-effect" data-dismiss="modal">Закрепить</button>
                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
              
                </div>
          
            </div>

            <div id="comment_stage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Комментарий к вопросу</h4> </div>
                        <div class="modal-body">
                                <div class="row form-group">
                                    <input type="hidden" id="comment-stage-id" value="">
                                        <label class="col-xs-12" id="comment-stage-label"></label>
                                        
                                            <div class="col-xs-12">
                                                <textarea class="form-control" rows="5" id="comment-textarea"></textarea>
                                            </div>
                                        
                                    </div>
                                    <br>
                                    
                           
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="modal-submit-comment" class="btn btn-info waves-effect" data-dismiss="modal">Отправить</button>
                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
              
                </div>
          
            </div>

            <form  id="change_status_form" action="" method="POST">
            <div id="change_status_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Изменение статуса</h4> </div>
                            <div class="modal-body" id="change_status_model_body">
                                <input type='hidden' id='modal-status-field' name='stage' value="">
                                <input type='hidden' name="mode" value="change_status">
                                {% csrf_token %}
                                {% if can_change_status %}
                                        <div class="radio">
                                            <input type="radio" name="radiostatus" id="status-non_avaliable" value="non_avaliable">
                                            <label for="status-non_avaliable"> Недоступно </label>
                                        </div>
                                        <div class="radio radio-success">
                                            <input type="radio" name="radiostatus" id="status-completed" value="completed">
                                            <label for="status-completed"> Выполнено </label>
                                        </div>
                                {% endif %}
                                        <div class="radio radio-info">
                                            <input type="radio" name="radiostatus" id="status-available" value="available">
                                            <label for="status-available"> Доступно для прохождения </label>
                                        </div>
                                        <div class="radio radio-warning">
                                                <input type="radio" name="radiostatus" id="status-paused" value="paused">
                                                <label for="status-paused"> Отправлено на экспертизу </label>
                                            </div>
                                        <div class="radio radio-danger">
                                            <input type="radio" name="radiostatus" id="status-denied" value="denied">
                                            <label for="status-denied"> Отказано </label>
                                        </div>
                                        
                               
                            
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info waves-effect" id="change-status-submit" data-dismiss="modal">Изменить</button>
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                  
                    </div>
              
                </div>
            </form>

          
                <div id="autocheck_modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Результаты проверки</h4> </div>
                                <div class="modal-body" id="autocheck_body">
                                    
                                    <div class="table-responsive">
                                        <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                            <thead>
                                                <tr>

                                                    <th>Риск</th>
                                                </tr>
                                            </thead>
                                            <tbody id="autocheck_table">
                                              
                                              
                                            </tbody>
                                            <tfoot>
                                 
                                            </tfoot>
                                        </table>
                                    </div>
                                   
                                
                                </div>
                                <div class="modal-footer">
                                     <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                      
                        </div>
                  
                    </div>
                



                    <div id="mass-link_stage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="link_title">Массовая привязка этапов</h4> </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <input type="hidden" id="link-stage-id" value="">
                                                    <label class="col-sm-12">Исполнитель</label>
                                                    <div class="col-sm-12">
                                                        <select class="form-control" id="mass-link-username">
                                                            {% for s in slaves %}
                                                            <option>{{s.username}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                
                                       
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="mass-modal-submit-link" class="btn btn-info waves-effect" data-dismiss="modal">Закрепить</button>
                                        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                          
                            </div>
                      
                        </div>



                        <form  id="mass-change_status_form" action="" method="POST">
                                <div id="mass-change_status_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="myModalLabel">Массовое изменение статуса</h4> </div>
                                                <div class="modal-body" id="mass-change_status_model_body">
                                                    
                                                    <input type='hidden' name="mode" value="mass-change_status">
                                                    {% csrf_token %}
                                                            <div class="radio">
                                                                <input type="radio" name="radiostatus" id="mass-status-non_avaliable" value="non_avaliable">
                                                                <label for="status-non_avaliable"> Недоступно </label>
                                                            </div>
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="radiostatus" id="mass-status-completed" value="completed">
                                                                <label for="status-completed"> Выполнено </label>
                                                            </div>
                                                            <div class="radio radio-info">
                                                                <input type="radio" name="radiostatus" id="mass-status-available" value="available">
                                                                <label for="status-available"> Доступно для прохождения </label>
                                                            </div>
                                                            <div class="radio radio-warning">
                                                                    <input type="radio" name="radiostatus" id="mass-status-paused" value="paused">
                                                                    <label for="status-paused"> Отправлено на экспертизу </label>
                                                                </div>
                                                            <div class="radio radio-danger">
                                                                <input type="radio" name="radiostatus" id="mass-status-denied" value="denied">
                                                                <label for="status-denied"> Отказано </label>
                                                            </div>
                                                            
                                                            
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-info waves-effect" id="mass-change-status-submit" data-dismiss="modal">Изменить</button>
                                                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                      
                                        </div>
                                  
                                    </div>
                                </form>



                                <div id="create-cert-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="link_title">Выдача сертификата</h4> </div>
                                            <div class="modal-body">
                                                    
                                                        
                                                            <label class="col-sm-12">Клиент: {{card.user.username}}</label>
                                                            <label class="col-sm-12">Организация: {{org_card.shortName}}</label>
                                                            <label class="col-sm-12">ОГРН: {{card.client.ogrn}}</label>
                                                            <label class="col-sm-12">Баллы: <span id="cert-rate-label"></span></label>
                                                            <label class="col-sm-12">Заблокированные этапы: <span id="cert-have-red-label"></span></label>
                                                            <label class="col-sm-12">Приостановленные этапы: <span id="cert-have-yellow-label"></span></label>
                                                            <label class="col-sm-12">Невыполненные этапы: <span id="cert-have-blue-label"></span></label>
                                                            <label class="col-sm-12">Возможность выдачи сертификата: <span id="cert-available-label"></span></label>
                                                        <br><br><hr>
                                                        <div id="cert-add-options" class="non-visible">
                                                        <div class="m-b-40">
                                                            <select id="modal-level" value="" type="text" class="form-control" required>
                                                                {% for l in certlevels %}
                                                                    <option>{{ l.text_level }}</option>
                                                                {% endfor %}
                                                                  
                                                            </select>
                                                            <span class="highlight"></span> <span class="bar"></span>
                                                            
                                                            </div>

                                                       <!--<div class="m-b-40"> 
                                                        <input id="modal-certcreatedate" value="" placeholder="Дата выдачи сертификата" type="text" class="form-control" required> 
                                                                                    <span class="highlight"></span><span class="bar"></span>
                                                        </div>
                                                        <div class="m-b-40"> 
                                                            <input id="modal-certenddate" value="" placeholder="Дата окончания сертификата" type="text" class="form-control" required> 
                                                                                        <span class="highlight"></span><span class="bar"></span>
                                                            </div>-->
                                                        </div>
                                                    
                                            </div>
                                            <div class="modal-footer no-modal-border">
                                                <button type="button" id="create-cert-submit-link" class="btn btn-info waves-effect" data-dismiss="modal">Выдача</button>
                                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>
                                  
                                    </div>
                              
                                </div>





    {% endblock page %}

{% block scriptaddons %}
<script>


    jQuery('#modal-certcreatedate').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
        
    });

    jQuery('#modal-certenddate').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
        
    });
function show_cert_modal(data) {
    if (data['success']==false) {
        swal("Ошибка!",data['object'], "error");
    }
    $('#cert-rate-label').text(data['object']['rate']);
    $('#cert-have-red-label').removeClass('error-text success-text warn-text');
    $('#cert-have-yellow-label').removeClass('error-text success-text warn-text');
    $('#cert-have-blue-label').removeClass('error-text success-text warn-text');
    $('#cert-available-label').removeClass('error-text success-text warn-text');
    if (data['object']['have_red']) {
        $('#cert-have-red-label').text("ДА");
        $('#cert-have-red-label').addClass('error-text');
    }
    else{
        $('#cert-have-red-label').text("НЕТ");
        $('#cert-have-red-label').addClass('success-text');
    }

    if (data['object']['have_yellow']) {
        $('#cert-have-yellow-label').text("ДА");
        $('#cert-have-yellow-label').addClass('error-text');
    }
    else{
        $('#cert-have-yellow-label').text("НЕТ");
        $('#cert-have-yellow-label').addClass('success-text');
    }


    if (data['object']['have_blue']) {
        $('#cert-have-blue-label').text("ДА");
        $('#cert-have-blue-label').addClass('warn-text');
    }
    else{
        $('#cert-have-blue-label').text("НЕТ");
        $('#cert-have-blue-label').addClass('success-text');
    }

    if (data['object']['cert_available']) {
        $('#cert-available-label').text("ДА");
        $('#cert-available-label').addClass('success-text');
        $('#cert-add-options').removeClass('non-visible');
        $('#create-cert-submit-link').removeClass('btn-default disabled');
        document.getElementById("create-cert-submit-link").disabled = false; 
    }
    else{
        $('#cert-available-label').text("НЕТ");
        $('#cert-available-label').addClass('error-text');
        $('#cert-add-options').addClass('non-visible');
        $('#create-cert-submit-link').addClass('btn-default disabled');
        document.getElementById("create-cert-submit-link").disabled = true; 
    }

  
    $('#create-cert-modal').modal('show'); 
}

$('.btn-autocheck').click(function(e){
    e.preventDefault();
    var stage_id = $(this).attr("data-stage");
    var url = "/rest/autocheck/";
    $.ajax({
        url: url,
        type: 'POST',
        data: {
            stage_id:stage_id,
            ogrn:"{{card.full.ogrn}}",
        },
        success: function(json) {
            console.log(json);
           // show_cert_modal(json);
           json.forEach(function(stage){
               if(stage.isActive){
                   $('#'+stage.code).addClass('checkbox-danger');
               }
               else{
                    $('#'+stage.code).addClass('checkbox-success');
               }
           })
            
        }
    }
);

});
$('#create-cert').click(function(e){

    e.preventDefault();
    $('#create-cert-modal').modal('hide');
    var flow_id = "{{card.full.id}}";
    var url = "/rest/ratecount/"+flow_id;

    $.ajax({
        url: url,
        type: 'GET',
        data: {
            'full':'1',
        },
        success: function(json) {
           // console.log(json);
            show_cert_modal(json);
            
        }
    }
);});
$('#create-cert-submit-link').click(function(e){
    e.preventDefault();
    var flow_id = "{{card.full.id}}";
    var url = "/rest/ratecount/"+flow_id;
    var level = $('#modal-level').val();
    //var startdate = $('#modal-certcreatedate').val();
    //var enddate = $('#modal-certenddate').val();
    $.ajax({
        url: url,
        type: 'POST',
        data: {
            'level':level,
            //'startdate':startdate,
            //'enddate':enddate,
            'org':'{{org_card.shortName|safe}}',
            'ogrn':'{{card.full.ogrn}}',
            'profile_name':'{{client_flow.object.profile.name}}',
            'profile_id':'{{client_flow.object.profile.id}}',

        },
        success: function(json) {
            //console.log(json);
            if (json['success']){
                window.open("/get/"+json['certnum']);
                swal("Сертификат выдан!",'Номер '+json['certnum'], "success");
            }
            else {
                swal("Ошибка!",json['details'], "error");
            }
            
            
        }
    }
);
});

$('.stage-link-btn').click(function(){
    var stage_id = $(this).attr("data-stage");
    var stage_name = $(this).attr("data-name");
    $('#link_title').text('Привязка '+stage_name);
    $('#link-stage-id').val(stage_id);
    $('#link_stage').modal('show'); 
});

$('.stage-comment-btn').click(function(){
    var stage_id = $(this).attr("data-stage");
    var stage_name = $(this).attr("data-name");
    var stage_comment = $(this).attr("data-text");
    $('#comment-textarea').val("");
    $('#comment-stage-label').text('Этап '+stage_name);
    $('#comment-stage-id').val(stage_id);
    $('#comment-textarea').val(stage_comment);
    $('#comment_stage').modal('show'); 
});



$('#modal-submit-link').click(function(){
    var csrftoken = getCookie('csrftoken');
    var username = $('#link-username').val();
    var stage = $('#link-stage-id').val();
    //console.log(username);
    //console.log(stage);
    $.ajax({
        url: "",
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': csrftoken,
            'mode' : 'link_stage',
            'username': username,
            'stage' : stage },
        success: function(json) {
            if (json['success']){
                document.location.reload();
            }
            else {
                swal("Ошибка!",json['object'], "error");
            }
    
        }
    });

});

$('#modal-submit-comment').click(function(){
    var csrftoken = getCookie('csrftoken');
    //var username = $('#link-username').val();
    var stage = $('#comment-stage-id').val();
    var comment = $('#comment-textarea').val();
    //console.log(comment);
    //console.log(stage);
    $.ajax({
        url: "",
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': csrftoken,
            'mode' : 'comment_stage',
            'flow_id': "{{card.full.id}}",
            'username_auditor': "{{request.user.username}}",
            'stage_id' : stage,
            'comment' : comment },
        success: function(json) {
            console.log(json['object']);
            if (json['success']){
                
                swal("Успех!",json['object'], "success");
            }
            else {
                swal("Ошибка!",json['object'], "error");
            }
    
        }
    });

});



</script>



<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();
        // Translated
        $('.dropify-ru').dropify({
            messages: {
                default: 'Выберите или перетащите файл. <br>Принимаются к рассмотрению только сканы документов с подписями и печатями',
                replace: 'Выберите или перетащите для замены файла',
                remove: 'Удалить',
                error: 'Ошибка'
            }
        });
        // Used events
        var drEvent = $('#input-file-events').dropify();
        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Вы действительно хотите удалить \"" + element.file.name + "\" ?");
        });
        drEvent.on('dropify.afterClear', function(event, element) {
            alert('Файл удален');
        });
        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });
        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
    {% if can_change_status or is_boss %}
    $('.status-btn').click(function() {
        var stage = $(this).attr('data-stage');
        var current = $(this).attr('data-current');
        console.log($('#status-'+current));
        console.log(current);
        $('[name = radiostatus]').prop('checked', false);
        $('#status-'+current).prop('checked', true);
        $('#modal-status-field').val(stage);
        $('#change_status_modal').modal('show'); 

    });
     
    $('#change-status-submit').click(function(){
        $('#change_status_form ').submit();
    });
    {% endif %}
    $('.autocheck_link').click(function(e){
        e.preventDefault();
        swal("Подождите","Идет запрос", "info");

        var csrftoken = getCookie('csrftoken');
        $.ajax({
        url: "",
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': csrftoken,
            'mode' : 'autocheck',

             },
        success: function(json) {
            if (json['success']){
               
               table_html = ""
               
               Object.keys(json['object']['risks']).forEach(element => {
                  
                if (json['object']['risks'][element]['name'] === undefined){
                            row_html="<tr><td><button type='button' class='btn btn-danger btn-circle'><i class='fa fa-check'></i></button><span class='autocheck-danger'>"+json['object']['risks'][element]['details']+"</span></td></tr>"
                       
                        }
                        else{
                            
                        




                    if (json['object']['risks'][element]['isActive'] == false){
                       
                        row_html="<tr><td><button type='button' class='btn btn-success btn-circle'><i class='fa fa-check'></i></button><span class='autocheck-success'>"+json['object']['risks'][element]['name']+"</span></td></tr>"
                       
                    }
                    else{
                         row_html="<tr><td><button type='button' class='btn btn-danger btn-circle'><i class='fa fa-check'></i></button><span class='autocheck-error'>"+json['object']['risks'][element]['name']+"</span></td></tr>"
                       
                    }
                }
                     table_html = table_html+row_html;
                });
                $('#autocheck_table').html(table_html);
                $('#autocheck_modal').modal('show');
            }
            else {
                swal("Ошибка!",json['object'], "error");
            }
    
        }
    });
    });


    

    $('#mass-check-reset').click(function(e){
        $('.card-block-check-block:checkbox').prop('checked', false);
        //$('.card-block-check-block:checkbox').attr('data-fullblockcheck',false);
        $('.card-block-check:checkbox').prop('checked', false);
    });



    $('.card-block-check-block').click(function(e){
        
       // $(this).attr('data-fullblockcheck',true);
        //console.log($(this).attr('data-fullblockcheck'));
        var block = $(this).val();
        $('.card-block-check:checkbox').each(function() {

            if ($(this).attr('data-inblock') == block) {
                $(this).prop('checked',true);
            }

        });
    });

    $('.card-block-check').click(function(e){

    });

    $('#mass-stage-link').click(function(e){
        e.preventDefault();
        $('#mass-link_stage').modal('show'); 
    });
   
    $('#mass-modal-submit-link').click(function(){
        var csrftoken = getCookie('csrftoken');
        var username = $('#mass-link-username').val();
        var stages = []
        var full_blocks = []
        $('.card-block-check:checkbox:checked').each(function() {
                    stages.push($(this).val());
                });


        $('.card-block-check-block:checkbox:checked').each(function() {
            //console.log($(this).val());
                    full_blocks.push($(this).val());
                });

        stages = JSON.stringify(stages);
        full_blocks = JSON.stringify(full_blocks);
        
        $.ajax({
            url: "",
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'mode' : 'mass-link_stage',
                'username': username,
                'stages' : stages,
                'full_blocks' : full_blocks },
            success: function(json) {
                if (json['success']){
                    document.location.reload();
                }
                else {
                    swal("Ошибка!",json['object'], "error");
                }
        
            }
        });

});
    


{% if can_change_status %}
    $('#mass-status-change').click(function(e) {
            e.preventDefault();
            $("input[name='radiostatus']").prop('checked', false);
            $('#mass-change_status_modal').modal('show'); 

    });
     
    $('#mass-change-status-submit').click(function(e){
        e.preventDefault();
        var csrftoken = getCookie('csrftoken');
        
        var stages = []
        $('.card-block-check:checkbox:checked').each(function() {
                    stages.push($(this).val());
                });
        
        stages = JSON.stringify(stages)
        
        var form_array = $('#mass-change_status_form').serializeArray();
        
        
        var radiostatus = $("#mass-change_status_form input[name='radiostatus']:checked").val();
        
        $.ajax({
            url: "",
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'mode' : 'mass-status_change',
                'radiostatus': radiostatus,
                'stages' : stages },
            success: function(json) {
                if (json['success']){
                    document.location.reload();
                }
                else {
                    swal("Ошибка!",json['object'], "error");
                }
        
            }
        });
    });
    {% endif %}



    function hide_stage(stage_id){
     //  task-block-{{t.stage}}
     $('#task-block-'+stage_id).hide(300);
    }

function open_new_stages(stages){
    $('.topstageblock').each(function(indx, element){
        var current_id = $(element).data('stageid');
        //console.log('current ' + current_id);
        if(stages.includes(current_id)){
            $(element).removeClass('non-visible');
            //console.log('showing '+current_id);
        }
        
});
}

    $('.task-answer-question').click(function(e){
        e.preventDefault();
        var stage = $(this).attr('data-stage');
        var data = new FormData();
        var ser_form = $('#answer-form-'+stage).serializeArray();
       if ($(".input").is('#input-file-'+stage)) {
            data.append('file',$('#input-file-'+stage).prop('files')[0]);  
        }
        data.append('data',JSON.stringify(ser_form));
        data.append('mode','answer');
        
        //console.log(data);
        $.ajax({
            url: "",
            method: 'POST',
            type: 'POST',
            cache: false,
            processData: false,
            contentType: false,
            data: data,
            success: function(json) {
                if (json['success']){
                    hide_stage(json['object']);
                    //console.log(json['to_make_visible']);
                    open_new_stages(json['to_make_visible']);
                   // document.location.reload();
                }
                else {
                    swal("Ошибка!",json['object'], "error");
                }
        
            }
        });
    });


    $('#report_non_uploaded_files').click(function(e){
    e.preventDefault();
    window.open("/workflow/report/nonupload/"+"{{card.full.id}}"+'?format=pdf&mode=new');
    /*var csrftoken = getCookie('csrftoken');
    $.ajax({
        url: "",
        type: 'POST',
        data: {'mode': 'report',
                'type':'non_uploaded_files',
            'csrfmiddlewaretoken': csrftoken,
            'data': '{{card.full.id}}'},
        success: function(json) {
            if (json) {
                window.open("/media/"+json['flow_id']+'/'+json['filename']);
            }
    
        }
    });*/
});

$('#report_risks_and_recs').click(function(e){
    e.preventDefault();
    window.open("/workflow/report/risks/"+"{{card.full.id}}"+'?format=pdf&mode=new');
   // var csrftoken = getCookie('csrftoken');
   /* $.ajax({
        url: "",
        type: 'POST',
        data: {'mode': 'report',
                'type':'risks_and_recs',
            'csrfmiddlewaretoken': csrftoken,
            'data': '{{card.full.id}}'},
        success: function(json) {
            if (json) {
                window.open("/media/"+json['flow_id']+'/'+json['filename']);
            }
    
        }
    });*/
});




    </script>
{% endblock scriptaddons %}