{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Таблица привязки процессов</h3> 
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="scrollable">
                                 {% if empty %}
                                 <div class="panel panel-info block4">
                                        <div class="panel-heading"> Привязки отсутствуют 
                                            <div class="pull-right"></div>
                                        </div>
                                        <br>
                                        Нажмите <a href="" class="create_client_flow">сюда</a>, чтобы создать первую привязку
                                    </div>
                                 {% else %}
                                <div class="table-responsive">
                                        <tr>
                                       <!--<a href="" class="create_client_flow">сюда</a>--> 
                                        <a class="btn btn-info btn-outline create_client_flow" href="">Создать</a> 
                                        </tr> 
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                        <thead>
                                            <tr>
                                                <th>Имя пользователя</th>
                                                <th>Имя привязки</th>
                                                <th>ОГРН</th>
                                                <th>Профайл</th>
                                                <th>Прогресс</th>
                                                <th>Версия процесса</th>
                                                <th>Аудитор</th>
                                       
                                            </tr>
                                        </thead>
                                        <tbody id="audit_table_body">

                            
                                        </tbody>
                                   
                                    </table>

                                                                <br>
                            <div class="btn-group m-b-20">
                                <button data-pageaction="bwd" type="button" class="btn btn-default btn-outline waves-effect pagination-btn">Назад</button>
                                <button data-pageaction="begin" type="button" class="btn btn-default btn-outline waves-effect pagination-btn">В начало</button>
                                <button data-pageaction="fwd" type="button" class="btn btn-default btn-outline waves-effect pagination-btn">Вперед</button>
                                <input type="hidden" id="current_page" value=1></input>
                            </div>
                                </div>
                            {% endif %}  
                            </div>
                            
                        </div>
                    </div>
                </div>




            </div>
        </div>


        <div id="create_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Создание привязки</h4> </div>
                        <div class="modal-body" id="create_model_body">
                        
                        <h3 id="username_header">Новая привязка</h3>
                       
                        
                               
                            <hr>
                                <label for="radio4"> Выбрать процесс из версии </label>
                                    <div class="">
                                        <h5 class="box-title">Процессы</h5>
                                        <select multiple id="public-methods" name="public-methods[]">
                                                     {% for flow in flows_from_version.object %}
                                                <option value="{{flow.id}}">{{flow.name}}</option>
                                                {% endfor %}    
                                            
                                        </select>
                                        <div class="button-box m-t-20"> 
                                        <a id="select-all" class="btn btn-danger btn-outline" href="#">Выбрать все</a> 
                                        <a id="deselect-all" class="btn btn-info btn-outline" href="#">Снять все</a> 
                                        
                                         </div>
                                    </div>
                             <hr>
                                <label for="radio4"> Выбрать клиента </label>
                            
                        
                            <select class="form-control tooltip-primary" id="client_username" name="client" data-toggle="tooltip" data-placement="top" title="" data-original-title="Клиент">
                                        {% for client in client_list %}
                                                <option value="{{client.username}}">{{client.username}}</option>
                                    {% endfor %}
                            </select>
                        <hr>
                             <input type="text" class="" id="link_name" placeholder="Название привязки (компании, т.п.)" required>
                        
                        <hr>
                             <input type="text" class="" id="ogrn" placeholder="ОГРН" required></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" id='create_btn'>Создать</button>
                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
              
                </div>
          
            </div>




            <div id="link_auditor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="link_title">Привязка процесса</h4> </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" id="link-flow-id" value="">
                                            <label class="col-sm-12">Аудитор</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" id="link-username">
                                                    {% for a in auditors %}
                                                    <option>{{a.username}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        
                               
                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="modal-submit-link" class="btn btn-info waves-effect" data-dismiss="modal">Закрепить</button>
                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                  
                    </div>
              
                </div>






    {% endblock page %}

{% block scriptaddons %}
<script>
$('#current_page').val(1);
getAudit();
$('.pagination-btn').click(function(event){
    event.preventDefault();
    var action = $(this).data("pageaction");
    var current_page = parseInt($('#current_page').val());
    //console.log(action);
    //console.log(current_page);
    if(action == "begin"){
        $('#current_page').val(1);
    }
    else if(action == "bwd"){
        if (current_page > 1){
            $('#current_page').val(current_page-1);
        }
        else{
            $('#current_page').val(1);
        }
        
    }
    else if(action == "fwd"){
        $('#current_page').val(current_page+1);
    }
    else{
        $('#current_page').val(current_page);
    }
    //console.log($('#current_page').val());
    getAudit();
});


$('.create_client_flow').click(function(e){
    e.preventDefault();
    $('#create_modal').modal('show'); 
});




$('#create_btn').click(function(){
    var csrftoken = getCookie('csrftoken');
    
    //var version = $('#version_select').val();
    var version = $('#public-methods').val();
    var username =  $('#client_username').val();

    var link_name =  $('#link_name').val();
    var ogrn =  $('#ogrn').val();

    //console.log($('#public-methods').val());
    
    $.ajax({
        url: "/workflow/clients/",
        type: 'POST',
        data: {'mode': 'create',
            'csrfmiddlewaretoken': csrftoken,
            'username': username,
            'version': version,
            'link_name': link_name,
            'ogrn': ogrn},
        success: function(response) {
            //console.log(1);
            //console.log(response);
            if (response['success']){
                document.location.reload();
            }
            else {
                swal("Ошибка!",response['object'], "error");
            }
              
            
    
        }
    });
});





$('#modal-submit-link').click(function(){

    var csrftoken = getCookie('csrftoken');
    var username = $('#link-username').val();
    var flow = $('#link-flow-id').val();

    $.ajax({
        url: "",
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': csrftoken,
            'mode' : 'link_audit',
            'audit': username,
            'flow' : flow },
        success: function(json) {
            if (json['success']){
                getAudit();
                swal("Успех!",json['object'], "success");
                //document.location.reload();
            }
            else {
                swal("Ошибка!",json['object'], "error");
            }
    
        }
    });

});

 $('#public-methods').multiSelect();
            $('#select-all').click(function() {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function() {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });


function getAudit(){
    var page = $('#current_page').val();
    console.log(page);
    var url_s = "/rest/workflowclients/?page="+page;
    $.ajax({
        type:"GET",
        url:url_s,
        cache: false,
        success: function(responce){ 
            drawTable(responce);
        },
        
    });
}



function drawTable(data){
    var html = "";
    data.forEach(function(el){
        var td_username = "<td><a href='/card/"+el.id+"'>"+el.username+"</a></td>";
        var td_link_name = "<td>"+el.link_name+"</td>";
        var td_ogrn = "<td>"+el.ogrn+"</td>";
        var td_f_name = "<td>"+el.f_name+"</td>";
        var td_flow_version = "<td>"+el.flow_version+"</td>";
        var td_auditor = "<td>"+el.auditor+"</td>";
        var stats = "<td><div class='progress progress-lg'><div role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: "+el.stats.green_pr+"%;' class='progress-bar progress-bar-success progress-bar-striped'></div><div role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: "+el.stats.yellow_pr+"%;' class='progress-bar progress-bar-warning progress-bar-striped active'></div><div role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: "+el.stats.red_pr+"%;' class='progress-bar progress-bar-danger progress-bar-striped active'></div></div></td>";

        if(el.auditor){
            td_auditor = "<td><a href='' data-flow='"+el.id+"' class='create_audit_link'>"+el.auditor+"</a></td>";
        }
        else{
            td_auditor = "<td><button data-flow='"+el.id+"' class='fcbtn btn btn-info btn-outline btn-1d create_audit_link'>Создать закрепление</button></td>";
        }
       var row = "<tr>"+td_username+td_link_name+td_ogrn+td_f_name+stats+td_flow_version+td_auditor+"</tr>"
        html = html+row;
        
    });
   $("#audit_table_body").html(html);
    $('.create_audit_link').click(function(e){
        e.preventDefault();
        var flow_id = $(this).attr("data-flow");
        $('#link-flow-id').val(flow_id);
        $('#link_auditor').modal('show'); 
            });
   //console.log(html);
}
</script>
{% endblock scriptaddons %}