{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Конструктор процессов</h3> 
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-12">
                            <div class="white-box">
                               <!-- <h4 class="box-title">Инструменты</h4> -->
                                <div class="btn-group m-r-10">
                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">Добавить <span class="caret"></span></button>
                                        <ul role="menu" class="dropdown-menu animated flipInX">
                                            <li><a href="#" data-toggle="modal" data-target="#add-simple">Базовый элемент</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#add-question">Вопрос</a></li>
                                        </ul>
                                </div>
                               
                                <div class="btn-group m-r-10">
                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type="button">Инструменты <span class="caret"></span></button>
                                        <ul role="menu" class="dropdown-menu animated flipInX">
                                            <li><a href="#" data-toggle="modal" data-target="#mass-height">Массовая корректировка высоты</a></li>
                                            <li><a href="#" id="flow_validate">Валидация процесса</a></li>
                                        </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                                <h4 class="box-title">Текущий процесс</h4> 
                            <div class="steamline">
                                {% for s in stages %}
                                <div class="sl-item">
                                    {% if not s.object.active %}
                                    <div class="bg-danger sl-left">
                                    {% elif s.type == 'question' %}
                                   <div class="bg-success sl-left">
                                       {% elif s.type == 'simple'%}
                                       <div class="bg-primary sl-left">
                                       {% endif %}
                                       <i class="{{s.object.icon}}"></i></div>
                                    <div class="sl-right">
                                        <div class="m-l-40">
                                                <div class="btn-group m-r-10">
                                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle waves-effect waves-light" type="button">{{s.object.common_name}} <span class="caret"></span></button>
                                                        <ul role="menu" class="dropdown-menu animated flipInX">
                                                            <li><a href="#" 
                                                                class="edit-stage-btn" 
                                                                data-type="{{s.type}}"
                                                                data-id="{{s.object.id}}"
                                                                data-name="{{s.object.name}}"
                                                                data-commonname="{{s.object.common_name}}"
                                                                data-description="{{s.object.description}}"
                                                                data-height="{{s.object.height}}"
                                                                data-prevstages="{{s.object.prev_stages}}"
                                                                data-qtype="{{s.object.q_type}}"
                                                                data-answers="{{s.object.answers}}"
                                                                data-needfile="{{s.object.need_file}}">Редактировать</a></li>
                                                            <li>
                                                                <a href="/workflow/api/activate/{{s.object.id}}">
                                                                    {% if s.object.active %}
                                                                    Блокировка
                                                                    {% else %}
                                                                    Разблокировка
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                            
                                                            <li><a href="#" data-id="{{ s.object.id }}" class="delete-warning">Удалить</a></li>

                                                        </ul>
                                                </div>
                                             
                                            <span class="sl-date">{{s.object.name}}</span><span class="sl-date"> | id={{s.object.id}}</span>
                                            <h5>Позиция: {{s.object.height}} </h5>
                                            <p>{{s.object.description}}</p>
                                            <p>Тип: {{s.type}}</p>
                                            {% if s.type == 'question' %}
                                                <p>Тип вопроса: {{s.object.q_type}}</p>
                                                <p>Ответы: {{s.object.answers}}</p>
                                                <p>Вложение: {{s.object.need_file}}</p>
                                            {% endif %}
                                            
                                            <hr>
                                            <p>Предыдущие этапы (по id): </p>
                                            <p>{{s.object.prev_stages}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
  

                            </div>
                            


                        </div>
                    </div>
                </div>


            
            </div>
        </div>


        <form class="form-horizontal form-material" method="POST" action="" id="add_simple_form">
                <div id="add-simple" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">Добавление базового элемента</h4> </div>
                            <div class="modal-body">
                              
                                    {% csrf_token %}
                                    <input type="hidden" name="mode" value="addsimple">
                                    <div class="form-group">
                                        <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" name="name" placeholder="Служебное название" value="{{ old_name}}"> 
                                        </div>

                                        <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="commonname" placeholder="Видимое название" value="{{ old_common_name}}"> 
                                        </div>

                                        <div class="col-md-12 m-b-20">
                                            <textarea class="form-control" name="description" rows="5" placeholder="Описание" >{{ old_description}}</textarea>
                                        </div>
                                      
                                        <div class="col-md-12 m-b-20">
                                                <label class="control-label">Позиция </label>
                                                <input id="tch3_22" data-plugin="touchSpin" type="text" value="{{ old_height }}" name="height" data-bts-button-down-class="btn btn-default btn-outline" data-bts-button-up-class="btn btn-default btn-outline"> 
                                        </div>
                                         <div class="col-md-12 m-b-20">
                                            <input type="text" class="form-control" name="prev_stages" placeholder="Связи" value="{{ old_raw_prev_stages }}"> 
                                        </div>
                          
                                     
                                    </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info waves-effect" data-dismiss="modal" id="add_simple_btn">Создать</button>
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                            </div>
                        </div>
                  
                    </div>
                    
                </div>
                </form>


                <form class="form-horizontal form-material" method="POST" action="" id="add_question_form">
                    <div id="add-question" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Добавление вопроса</h4> </div>
                                <div class="modal-body">
                                  
                                        {% csrf_token %}
                                        <input type="hidden" name="mode" value="addquestion">
                                        <div class="form-group">
                                            <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="name" placeholder="Служебное название" value="{{ old_name}}"> 
                                            </div>
    
                                            <div class="col-md-12 m-b-20">
                                                    <input type="text" class="form-control" name="commonname" placeholder="Видимое название" value="{{ old_common_name}}"> 
                                            </div>
    
                                            <div class="col-md-12 m-b-20">
                                                <textarea class="form-control" name="description" rows="5" placeholder="Описание">{{ old_description}}</textarea>
                                            </div>
                                          
                                            <div class="col-md-12 m-b-20">
                                                    <label class="control-label">Позиция </label>
                                                    <input id="height" data-plugin="touchSpin" type="text" value="{{ old_height }}" name="height" data-bts-button-down-class="btn btn-default btn-outline" data-bts-button-up-class="btn btn-default btn-outline"> 
                                            </div>
                                             <div class="col-md-12 m-b-20">
                                                <input type="text" class="form-control" name="prev_stages" placeholder="Связи" value="{{ old_raw_prev_stages }}"> 
                                            </div>
                                            <div class="col-md-12 m-b-20">
                                                <select class="form-control tooltip-primary" name="q_type" data-toggle="tooltip" data-placement="top" title="" data-original-title="Тип вопроса">
                                                    {% for t in q_types %}
                                                        
                                                            <option>{{t.1}}</option>
                                                        
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-12 m-b-20">
                                                <textarea class="form-control" name="answers" rows="5" placeholder="Варианты ответа">{{old_raw_answers}}</textarea>
                                            </div>
                                            <div class="col-md-12 m-b-20 checkbox checkbox-info">
                                                <input id="checkbox4" type="checkbox" name="need_file">
                                                <label for="checkbox4"> Разрешено вложение файла </label>
                                            </div>
                                        </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info waves-effect" data-dismiss="modal" id="add_question_btn">Создать</button>
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                      
                        </div>
                        
                    </div>
                    </form>


                    <form class="form-horizontal form-material" method="POST" action="" id="mass_height_form">
                        <div id="mass-height" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">Массовая корректировка позиции</h4> </div>
                                    <div class="modal-body">
                                      
                                            {% csrf_token %}
                                            <input type="hidden" name="mode" value="massheight">
                                            <div class="form-group">
                                                
                                              
                                                <div class="col-md-12 m-b-20">
                                                        <label class="control-label">Позиция </label>
                                                        <input id="massheight" data-plugin="touchSpin" type="text" name="height" data-bts-button-down-class="btn btn-default btn-outline" data-bts-button-up-class="btn btn-default btn-outline"> 
                                                </div>
                                                
                                                <div class="col-md-12 m-b-20 radio radio-primary">
                                                    <input type="radio" name="operation" id="radio3" value="sum">
                                                    <label for="radio3"> Добавить </label>
                                                </div>
                                                <div class="col-md-12 m-b-20 radio radio-success">
                                                    <input type="radio" name="operation" id="radio4" value="mul">
                                                    <label for="radio4"> Умножить </label>
                                                </div>
                                                <div class="col-md-12 m-b-20 radio radio-info">
                                                    <input type="radio" name="operation" id="radio5" value="sub">
                                                    <label for="radio5"> Вычесть </label>
                                                </div>
                                            </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info waves-effect" data-dismiss="modal" id="mass_height_btn">Изменить</button>
                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отмена</button>
                                    </div>
                                </div>
                          
                            </div>
                            
                        </div>
                        </form>

                    <div id="validate_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Результаты проверки</h4> </div>
                                <div class="modal-body" id="validate_model_body">
                                    
                                   
                                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                      
                        </div>
                  
                    </div>


    {% endblock page %}

{% block scriptaddons %}

<script>
jQuery(document).ready(function() {
    $("input[name='height']").TouchSpin({
                initval: 0
    });
    $("input[name='massheight']").TouchSpin({
                initval: 0
    });

});

$('#add_simple_btn').click(function(){
    $('#add_simple_form').submit();
});

$('#add_question_btn').click(function(){
    $('#add_question_form').submit();
});

$('#mass_height_btn').click(function(){
    $('#mass_height_form').submit();
});
$('.edit-stage-btn').click(function(){
    type = $(this).attr("data-type");
    id = $(this).attr("data-id");
    name = $(this).attr("data-name");
    commonname = $(this).attr("data-commonname");
    description = $(this).attr("data-description");
    height = $(this).attr("data-height");
    prevstages = $(this).attr("data-prevstages");
    qtype = $(this).attr("data-qtype");
    answers = $(this).attr("data-answers");
    needfile = $(this).attr("data-needfile");

    var modal = $("#add-"+type);
    
  
    $("#add-"+type+" input[name='name']").val(name);
    $("#add-"+type+" input[name='commonname']").val(commonname);
    $("#add-"+type+" textarea[name='description']").val(description);
    $("#add-"+type+" input[name='height']").val(height);
    $("#add-"+type+" input[name='prev_stages']").val(prevstages);
   // $("#add-"+type+" input[name='qtype']").val(qtype);
    $("#add-"+type+" textarea[name='answers']").val(answers);

    modal.modal('show'); 
    

});


$('.delete-warning').click(function(){
    id = $(this).attr("data-id")
    swal({   
        title: "Удаление этапа процесса",   
        text: "Связи на удаляемый элемент необходимо изменить самостоятельно! Это действие необратимо. Вы уверены?",   
        type: "warning",   
        showCancelButton: true,   
        confirmButtonColor: "#DD6B55",   
        confirmButtonText: "Да, удалить!",   
        closeOnConfirm: true 
    }, function(){   
    
        document.location.href = "/workflow/api/delete/"+id;
       
    });
});


$('#flow_validate').click(function(){
    var csrftoken = getCookie('csrftoken');
  

    $.ajax({
        url: "/workflow/edit",
        type: 'POST',
        data: {'mode': 'validate',
            'csrfmiddlewaretoken': csrftoken},
        
        success: function (json) {
            console.log('success');
            if (json) {
                var modal_body = "";


                
                
                json.forEach(el => {
                    var block = "";
                    var type = "checkbox-"+el.type;
                    block = "<div class='checkbox "+type+" checkbox-circle'><input type='checkbox' checked disabled><label> "+el.msg+" </label></div>"
                    modal_body = modal_body+block;             
                });
                $("#validate_model_body").html(modal_body);
                $('#validate_modal').modal('show'); 


            }
          //  if (json.result) {
          //      $('#notify_icon').addClass("notification");
          //      var doc = $.parseHTML(json.notifications_list);
          //      $('#notifications-list').html(doc);
          //  }
        }
    });
});

{% if error %}
$(document).ready(function(){
        $.toast({
            heading: 'Ошибка',
            text: '{{ error }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });

{% endif %}
</script>
{% endblock scriptaddons %}