{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Редактирование процесса</h3> 
                            {% if new %}
                            <h4>Создание первой версии</h4>
                            
                            {% else %}
                            <h4>{{object.id}} наследован от <a href="/workflow/edit/{{object.branched_from}}">{{object.branched_from}}</a></h4>
                            <h5>Создан {{object.creation_timestamp|date:"d.m.Y H:i:s"}} пользователем {{object.created_by}}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="white-box">
                                    <div class="form-group">
                                        <div class="col-lg-2 col-sm-4 col-xs-12">
                                            <button id="iter_btn" class="btn btn-block btn-info btn-rounded">Итерация</button>
                                        </div>
                                        <div class="col-lg-2 col-sm-4 col-xs-12">
                                            <button id="validate_btn" class="btn btn-block btn-success btn-rounded">Валидация</button>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="form-group">
                               
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="40" id='yaml_field'>{{yaml}}</textarea>
                                </div>
                            </div>
                     
                    </div>
                </div>




            </div>
        </div>

        <div id="validate_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Результаты проверки</h4> </div>
                        <div class="modal-body" id="validate_model_body">
                            
                           
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
              
                </div>
          
            </div>

    {% endblock page %}

{% block scriptaddons %}
<script src="https://codemirror.net/lib/codemirror.js"></script>
<script src="https://codemirror.net/mode/yaml/yaml.js"></script>
<script>
jQuery(document).ready(function() {
var editor = CodeMirror.fromTextArea(document.getElementById("yaml_field"), {
        lineNumbers: true,
        lineWrapping:true,
        autofocus:true,
        mode:"yaml"
      });
   


$('#validate_btn').click(function(){
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        url: "/workflow/edit/{{object.id}}/",
        type: 'POST',
        data: {'mode': 'validate',
            'csrfmiddlewaretoken': csrftoken,
            'data': editor.getValue()},
        success: function(json) {
            if (json) {
                var modal_body = "";               
                
                json.forEach(el => {
                    var block = "";
                    var type = "checkbox-"+el.type;
                    block = "<div class='checkbox "+type+" checkbox-circle'><input type='checkbox' checked disabled><label> "+el.msg+" </label></div>"
                    modal_body = modal_body+block;             
                });
                $("#validate_model_body").html(modal_body);
                $('#validate_modal').modal('show'); 
            }
    
        }
    });
});


$('#iter_btn').click(function(){
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        url: "/workflow/edit/{{object.id}}/",
        type: 'POST',
        data: {'mode': 'iter',
            'csrfmiddlewaretoken': csrftoken,
            'data': editor.getValue()},
        success: function(json) {
            console.log(json['status']);
            if (json['status']=='success'){
                document.location.href = "/workflow/edit/"+json['msg'];
            }
            else if (json['status']=='error'){
                swal("Ошибка!",json['msg'], "error");
            }
              
            
    
        }
    });
});


});


{% if error %}
$(document).ready(function(){
        $.toast({
            heading: 'Ошибка',
            text: '{{ error }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });

{% endif %}
</script>
{% endblock scriptaddons %}