{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Таблица процессов</h3> 
                            <hr>
                            {% if active_version.success %}
                            <h4>Активна версия {{active_version.object.id}} от {{active_version.object.creation_timestamp|date:"d.m.Y H:i:s"}} созданная {{active_version.object.created_by}}</h4>
                            
                            {% else %}
                            <h4 class="active_version_error">{{active_version.object}}</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <div class="scrollable">
                                 {% if empty %}
                                 <div class="panel panel-info block4">
                                        <div class="panel-heading"> Время с чего-то начинать!
                                            <div class="pull-right"> </div>
                                        </div>
                                        <div class="panel-wrapper collapse in" aria-expanded="true">
                                            <div class="panel-body">
                                                <p>На данный момент еще нет ни одной версии рабочего процесса, но ее можно создать, нажав <a href="/workflow/edit/new">сюда</a></p>
                                            </div>
                                        </div>
                                    </div>
                                 {% else %}
                                <div class="table-responsive">
                                        <tr>
                                        </tr> 
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                        <thead>
                                            <tr>
                                                <th>UUID</th>
                                                <th>Время создания</th>
                                                <th>Автор</th>
                                                <th>Наследовано от</th>
                                                <th>Активно</th>
                                       
                                            </tr>
                                        </thead>
                                        <tbody>
                                       

                                        
                                         {% for v in versions %}
                                         <tr>
                                            <td><a href='/workflow/edit/{{v.id}}'>{{v.id}}</a></td>
                                            <td>{{v.creation_timestamp|date:"d.m.Y H:i:s"}}</td>
                                            <td>{{v.created_by}}</td>
                                            <td><a href='/workflow/edit/{{v.branched_from}}'>{{v.branched_from}}</a></td>
                                            <td>
                                                <a href="" class="active_version_btn" data-id="{{v.id}}">
                                                    {% if v.active %}
                                                    <button type="button" class="btn btn-success btn-circle">
                                                        <i class="fa fa-check"></i> 
                                                    {% else %}
                                                    <button type="button" class="btn btn-danger btn-circle">
                                                            <i class="fa fa-times"></i> 
                                                    {% endif %}
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                         {% endfor %}
                                          
                            
                                        </tbody>
                                   
                                    </table>
                                       {% load bootstrap3 %}

                                   {% bootstrap_pagination versions %}
                                </div>
                            {% endif %}  
                            </div>
                            
                        </div>
                    </div>
                </div>




            </div>
        </div>



    {% endblock page %}

{% block scriptaddons %}
<script>
$('.active_version_btn').click(function(){
    var csrftoken = getCookie('csrftoken');
    var id =  $(this).attr("data-id");
    $.ajax({
        url: "/workflow/table/",
        type: 'POST',
        data: {'mode': 'active',
            'csrfmiddlewaretoken': csrftoken,
            'uid': id},
        success: function(json) {
            console.log(json['status']);
            if (json['status']=='success'){
                document.location.href = "/workflow/edit/"+json['msg'];
            }
            else if (json['status']=='error'){
                swal("Ошибка!",json['msg'], "error");
            }
              
            
    
        }
    });
});

</script>
{% endblock scriptaddons %}