.outer {
    display: flex;
    width: inherit;
}

.inner {
    height: 0.5em;
    margin: auto;
}

.help-block{
    margin-bottom: 0px;
}

.help-content{
    margin-bottom: 10px;
}

.help-line{
    background: rgba(0, 0, 0, 0);
    color: #03a9f3;
}
.tooltip-text{
    font-size: 12px;
}
.chargeback-error-tr{
    color: darkorange;

}
.chargeback-success-tr{
    color: green;

}

.chargeback-already-tr{
    color: blueviolet;

}
.rrn-tooltip-box{
    height: 200px;
    text-align: right;
    z-index: 999;
  
}

.rrn-tooltip{
    font-size: 10px;
    line-height: 1.0;
    text-align: right;
    margin-left: 20px;
}

.nav .nav-second-level{
    margin-left: 10px;
}

.total-row{
    color: blueviolet;
    font-weight: bolder;
}

.modal-btn-block{
    margin-left: 20px;
    margin-bottom: 10px;
}

.autocheck-message{
    color: orange;
    line-height: 1;

}

.autocheck-error{
    color: red;
    line-height: 1;

}
.autocheck-success{
    color: green;
    line-height: 1;

}

.details-slaves{
    cursor: pointer;

}

.details-slaves:hover{
    color: blueviolet;
}

.details-slaves summary::-webkit-details-marker {
    display: none
}

.details-slaves summary:after{
    content: "+ Показать";
    text-align: center;
    float: left;
}

.details-slaves[open] summary:after {
    content: "- Скрыть";
}

.card-user{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    height: inherit;
}

.active_version_error{
    color: red;
}
.card-item-red{
    background: red;
    color: green;
}
.have_result{
    color: blueviolet;
    cursor: pointer;
}

.card-details-block{
display: inline;
margin-left: 30px;
}

.card-details-block-summary{
    font-weight: bold;
    font-size: 2em;
    margin: -.5em -.5em 0;
    /*padding: .5em;*/
    cursor: pointer;
    transition: 1s linear;
}

.card-details-block-summary:hover{
    color: blueviolet;
}
.cert-details-block{
    
   /* margin-left: 30px;*/
    
    padding-top: 5px;
    
}
.cert-profile-list{
   
}    
.cert-details-block-summary{
        font-weight: bold;
        font-size: 1em;
        margin: -.5em -.5em 0;
        /*padding: .5em;*/
        cursor: pointer;
        transition: 1s linear;
    }
    
.cert-details-block-summary:hover{
        color: blueviolet;
    }
.card-block-check{
    position: absolute;
    z-index: 999;
    opacity: 1;
    cursor: pointer;
}


.card-block-check-block{
    display: inline;
   
    z-index: 999;
    opacity: 1;
    cursor: pointer;
}

.dropify-wrapper{
    height: 100px;
}

.official-file-name{
    color: blueviolet;
}

.org-card-summary{
    cursor: pointer;
    transition: 1s linear;
}
.org-card-summary:hover{
    color: blueviolet;
}

.mytooltip{
    z-index: 0;
}
.no-modal-border{
    border-top: none;
}

.error-text{
    color: #ff7676;
}

.warn-text{
    color: #ffc36d;
}

.success-text{
    color: #53e69d;
}

.non-visible{
    display: none;
}

.info-text{
   color: #03a9f3;
}
.default-text{
    color: #96a2b4;
}

.new-login-register .lg-info-panel .inner-panel{
    background-color: white;
    
}
.new-login-register .lg-info-panel{

    width: 0;
}

.new-login-register .new-login-box{
    margin-left: 40%;
}
.stage {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    text-align: right;
    width: 62.5%;
    height: 100%;
    padding: 25px 35px;
    box-shadow: 0 0 0 1px rgba(83,64,13,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
}

#msform input, #msform textarea{
    
    background-color: whitesmoke;
    border-color: steelblue;
    color: slateblue;
}

.top-head-logo{
    color: whitesmoke;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    vertical-align: middle;
    display: inline;
    margin: unset;
    padding-left: 20%;
    padding-top: 30px;
}

@media screen and (max-width: 1300px){ 
    .top-head-logo{
        display:none;
    }

}