body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 3cm;
    padding-right: 1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
}
.head-city{
    /*margin-left: 90%;*/
    text-align: right;
}
.header-main{
    
    color: #44546a;
    text-align: center;
    align-items: center;
    

}
.header-logo{
    width: 113;
    height: 113;
}
.header-title{
    font-size: 14px;
}
.header-logo-div{
    
}
.header-title-div{
    
}
.header-license{
    font-size: 8px;
}
.head-date{
text-align: left;
}
.head-line-creds{
    margin-top: 2.5cm;
    font-size: 10pt;
    margin-left: 5px;
}
.head-security{
    font-weight: bold;
    font-size: 10pt;
    margin-left: 5px;
    text-align: left;
}