{% extends '../base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Общая таблица сертификатов</h3> 
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Сертификаты</h3>
                            <button type="" class="btn btn-info waves-effect" id="open_add_modal" data-toggle="modal" 
                                                        data-target="#add-cert">Добавить сертификат</button>
                            <div class="scrollable">
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                        <thead>
                                            {% if user.is_staff %}
                                                <tr>
                                                       
                                                        <div id="add-cert" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                        <h4 class="modal-title" id="myModalLabel">Добавить новый сертификат</h4> </div>
                                                                    <div class="modal-body floating-labels">
                                                                        <form class="floating-labels " method="POST" action="">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="mode" id="modal-mode" value="add" >


                                                                           
                                                                                <br>
                                                                                <div class="form-group m-b-40">
                                                                                    <input name="companyname" id="modal-companyname" value="" type="text" class="form-control" required>
                                                                                    <span class="highlight"></span> <span class="bar"></span>
                                                                                    <label for="modal-companyname">Название организации</label> 
                                                                                </div>

                                                                                <div class="form-group m-b-40">
                                                                                    <input name="ogrn" id="modal-ogrn" value="" type="text" class="form-control" required>
                                                                                    <span class="highlight"></span> <span class="bar"></span>
                                                                                    <label for="modal-ogrn">ОГРН</label> 
                                                                                </div>

                                                                            
                                                                                    <div class="form-group m-b-40">
                                                                                    <select name="level" id="modal-level" value="" type="text" class="form-control" required>
                                                                                        {% for l in levels %}
                                                                                            <option>{{ l.text_level }}</option>
                                                                                        {% endfor %}
                                                                                          
                                                                                    </select>
                                                                                    <span class="highlight"></span> <span class="bar"></span>
                                                                                    <label for="modal-level">Уровень</label> 
                                                                                    </div>
                                                                                <div class="">
                                                                                    <h5 class="box-title">Процессы</h5>
                                                                                    <select multiple id="public-methods" name="public-methods[]">
                                                                                    
                                                                                    <option value="Стандарт «Комплаенс-минимум»">Стандарт «Комплаенс-минимум»</option>
                                                                                                {% for flow in flows_from_version.object %}
                                                                                            <option value="{{flow.name}}">{{flow.name}}</option>
                                                                                            {% endfor %}    
                                                                                        
                                                                                    </select>
                                                                                    <div class="button-box m-t-20"> 
                                                                                    <a id="select-all" class="btn btn-danger btn-outline" href="#">Выбрать все</a> 
                                                                                    <a id="deselect-all" class="btn btn-info btn-outline" href="#">Снять все</a> 
                                                                                    
                                                                                    </div>
                                                                                </div>
                                                                                    <div class="form-group m-b-40">
                                                                                            <input name="score" id="modal-score" value="" type="text" class="form-control" required>
                                                                                            <span class="highlight"></span> <span class="bar"></span>
                                                                                            <label for="modal-score">Баллы</label>  
                                                                                    </div>

                                                                                   <!-- <div class="form-group m-b-40">
                                                                                    <input name="certcreatedate" id="modal-certcreatedate" value="" type="text" class="form-control" required> 
                                                                                    <span class="highlight"></span> <span class="bar"></span>
                                                                                    <label for="certcreatedate">Дата выдачи</label> 
                                                                                    </div>

                                                                                    <div class="form-group m-b-40">
                                                                                    <input name="certenddate" id="modal-certenddate" value="" type="text" class="form-control" required> 
                                                                                    <span class="highlight"></span> <span class="bar"></span>
                                                                                    <label for="modal-certenddate">Дата окончания действия</label> 
                                                                                    </div>-->
                                                                          
                                                                                
                                                                            
                                                                       
                                                                    
                                                                 
                                                                        <div class="modal-btn-block">
                                                                            <button type="submit" class="btn btn-info waves-effect">Сохранить</button>
                                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отменить</button>
                                                                        </div>
                                                                      </form>
                                                                    </div> 
                                                                    </div>
                                                                </div>
                                                              
                                                            </div>
                                                            
                                                        
                                                       
                                                    </tr>
                                                {% endif %}
                                            <tr>
                                                <th>№ сертификата</th>
                                                <th>Организация</th>
                                                <th>ОГРН</th>
                                                <th>Раздел экспертизы</th>
                                               <!-- <th>ID раздела экспертизы</th>-->
                                                <th>Уровень</th>
                                                <th>Баллы</th>
                                                <th>Дата выдачи</th>
                                                <th>Дата окончания</th>
                                                <th>Кем выдан</th>
                                                <th>Кем подтвержен</th>
                                                <th>Активен</th>
                                                <th>Действия</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in certs %}
                                            <tr>
                                                <td>{{ c.certnum }}</td>
                                                <td>{{ c.companyname }}</td>
                                                
                                                <td>{{ c.ogrn }}</td>
                                                <td>
                                                    <details class="cert-details-block "><summary class="cert-details-block-summary">Нажмите для просмотра</summary><div class="cert-profile-list">{{ c.profile_name }}</div></details>
                                                
                                                </td>
                                                <!--<td>{{ c.profile_id }}</td>-->
                                                <td>{{ c.level  }}</td>
                                                <td>{{ c.score  }}</td>
                                                <td>{{ c.certcreatedate|date:"Y-m-d" }}</td>
                                                <td>{{ c.certenddate|date:"Y-m-d" }}</td>
                                                <td>{{ c.who_create}}</td>
                                                <td id="approve_{{ c.certnum }}">
                                                    {% if c.approved %}
                                                        {{ c.who_approved }}
                                                    {% else %}
                                                        <center><button type="button" data-certnum="{{ c.certnum }}" class="btn btn-danger btn-circle btn-approve">
                                                        <i class="fa fa-minus"></i></button></center>
                                                    {% endif %}
                                                </td>
                                                <td>{% if c.active %}
                                                        <center><button id="active_btn_{{ c.certnum }}" type="button" data-certnum="{{ c.certnum }}" class="btn btn-success btn-circle btn-active">
                                                        <i id="active_i_{{ c.certnum }}" class="fa fa-check"></i></button></center>
                                                    {% else %}
                                                        <center><button id="active_btn_{{ c.certnum }}" type="button" data-certnum="{{ c.certnum }}" class="btn btn-danger btn-circle btn-active">
                                                        <i id="active_i_{{ c.certnum }}" class="fa fa-ban"></i></button></center>
                                                    {% endif %}</td>
                                                <td>
                                                    <button type="button"
                                                        data-certnum="{{ c.certnum }}" 
                                                        data-companyname="{{ c.companyname }}" 
                                                        data-ogrn="{{ c.ogrn }}" 
                                                        data-level="{{ c.level }}" 
                                                        data-score="{{ c.score }}" 
                                                        data-certcreatedate="{{ c.certcreatedate}}" 
                                                        data-certenddate="{{ c.certenddate}}" 
                                                        data-toggle="modal" 
                                                        data-target=".qr-modal"
                                                        class="btn btn-info btn-circle action-qr">
                                                        <i class="fa fa-qrcode"></i> 
                                                    </button>
                                                    <a href="/get/{{ c.certnum }}" target="_blank" > 
                                                        <button type="button" class="btn btn-success btn-circle">
                                                        <i class="fa fa-chain"></i> 
                                                        </button>
                                                    </a>
                                                    <a href="/get/{{ c.certnum }}?format=pdf" target="_blank" > 
                                                        <button type="button" class="btn btn-success btn-circle">
                                                        <i class="fa fa-file-pdf-o"></i> 
                                                        </button>
                                                    </a>
                                         
                                                    <button type="button" 

                                                        data-certnum="{{ c.certnum }}" 
                                                        data-companyname="{{ c.companyname }}" 
                                                        data-ogrn="{{ c.ogrn }}" 
                                                        data-level="{{ c.level }}" 
                                                        data-score="{{ c.score }}" 
                                                        data-certcreatedate="{{ c.certcreatedate}}" 
                                                        data-certenddate="{{ c.certenddate}}" 
                                                        class="btn btn-danger btn-circle action-delete">
                                                        <i class="fa fa-times"></i> 
                                                    </button>

                                                </td>
                                               
                                            </tr>
                                            {% endfor %}
                                           
                                           
                                        </tbody>
                                        <tfoot>
                                
                                        </tfoot>
                                    </table>
                                    {% load bootstrap3 %}











                                    {% bootstrap_pagination certs %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
<form id="cert-del-form" method="POST">
{% csrf_token %}
<input type="hidden" name="mode" value="delete">
<input type="hidden" name="certnum" value="" id="certnum-del-field">
</form>


<!-- sample modal content -->
<div class="modal fade qr-modal" tabindex="-1" role="dialog" aria-labelledby="qr-label" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="qr-label"></h4> </div>
                <div class="modal-body"> <img class="img-responsive" src="" id="qr-img"> </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    {% endblock page %}

{% block scriptaddons %}
<script>
$(document).ready(function () {
   $('.cert-profile-list').each(function(indx, element){
       console.log(element.innerHTML);
       element.innerHTML = element.innerHTML.replace(/, /g,', <br>')
   });
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function raiseToast(head, text, type, position='top-right', hide = 3500){

    $.toast({
        heading: head,
        text: text,
        position: position,
        loaderBg: '#ff6849',
        icon: type,
        hideAfter: hide,
        stack: 6
    });
}
{% if error %}
$(document).ready(function () {
        $.toast({
            heading: 'Ошибка!',
            text: '{{ error }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });
{% endif %}
 $('#public-methods').multiSelect();
            $('#select-all').click(function() {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function() {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });
//$("#open_add_modal").click(function(){
//    $("#add-cert").show();
//});

$("#modal-mode").val("add");
$("#modal-certnum").attr("type","text");
$("#modal-companyname").val("");
$("#modal-certnum").val("");
$("#modal-ogrn").val("");
$("#modal-level").val("");
$("#modal-score").val("");
$("#modal-certcreatedate").val("");
$("#modal-certenddate").val("");
$('.action-edit').click(function(){
                var editbtn = $(this);
                $("#modal-companyname").val(editbtn.attr('data-companyname'));
                $("#modal-certnum").val(editbtn.attr('data-certnum'));
                $("#modal-ogrn").val(editbtn.attr('data-ogrn'));
                $("#modal-level").val(editbtn.attr('data-level'));
                $("#modal-score").val(editbtn.attr('data-score'));
                $("#modal-certcreatedate").val(editbtn.attr('data-certcreatedate'));
                $("#modal-certenddate").val(editbtn.attr('data-certenddate'));
                $("#modal-mode").val("edit");
                $("#modal-certnum").attr("type","hidden");
                $("#myModalLabel").html("Редактировать сертификат №"+editbtn.attr('data-certnum'));
                
            });
$('#action-add').click(function(){  
    $("#myModalLabel").html("Добавить новый сертификат");
    $("#modal-mode").val("add");
            });       

$('.action-delete').click(function(){
        var certnum_to_del = $(this).attr('data-certnum');
        $('#certnum-del-field').val(certnum_to_del);
        //console.log(certnum_to_del);
        swal({   
            title: "Вы уверены?",   
            text: "Удалить сертификат №"+certnum_to_del+"?",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Да, удалить",   
            closeOnConfirm: false 
        }, function(){   
           // swal("Deleted!", "Your imaginary file has been deleted.", "success"); 
           $('#cert-del-form').submit();
        });
});

$('.action-qr').click(function(){
        var certnum_to_qr = $(this).attr('data-certnum');
        $('#qr-img').attr("src","https://cert.cstandart.ru/qr?crt="+certnum_to_qr);
        $('#qr-label').html("QR для сертификата №"+certnum_to_qr)
    });
function drawApprove(certnum, username){
    $('#approve_'+certnum).html(username);
}
function drawActive(certnum, active){
    //$('#active_'+certnum).html(username);
    if (active){
        $("#active_btn_"+certnum).removeClass("btn-danger");
        $("#active_btn_"+certnum).addClass("btn-success");
        $("#active_i_"+certnum).removeClass("fa-ban");
        $("#active_i_"+certnum).addClass("fa-check");
    }
    else{
        $("#active_btn_"+certnum).addClass("btn-danger");
        $("#active_btn_"+certnum).removeClass("btn-success");
        $("#active_i_"+certnum).addClass("fa-ban");
        $("#active_i_"+certnum).removeClass("fa-check");
    }
}
$('.btn-approve').click(function(){
        let certnum = $(this).attr('data-certnum');
        let url_s = "/certs/table/";
        let csrftoken = getCookie('csrftoken');
        $.ajax({
          type:"POST",
          url:url_s,
          data: {
            'certnum': certnum,
            'csrfmiddlewaretoken':csrftoken,
            'mode':'approve',
            },
          cache: false,
          success: function(responce){ 
             if(!responce['success']){
               raiseToast('Ошибка',responce['error'],'error');
             }
             else{
               drawApprove(certnum, responce['user']);
             }
          },
         error: function(jqXHR){
            raiseToast('Ошибка','Проверьте заполнение полей!','error');
          }
        });
});
$('.btn-active').click(function(){
        let certnum = $(this).attr('data-certnum');
        let url_s = "/certs/table/";
        let csrftoken = getCookie('csrftoken');
        $.ajax({
          type:"POST",
          url:url_s,
          data: {
            'certnum': certnum,
            'csrfmiddlewaretoken':csrftoken,
            'mode':'active',
            },
          cache: false,
          success: function(responce){ 
             if(!responce['success']){
               raiseToast('Ошибка',responce['error'],'error');
             }
             else{
               drawActive(certnum, responce['active']);
             }
          },
         error: function(jqXHR){
            raiseToast('Ошибка','Проверьте заполнение полей!','error');
          }
        });
});
</script>
{% endblock scriptaddons %}