* {
  box-sizing: border-box; }

body {
  font-family: "Times New Roman", serif;
  font-size: 16px;
  height: 100vh;
  margin: 0; }

.content-wrap {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 30px;
  position: relative; }

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bg .image {
    width: 100%;
    height: 100%;
    background-image: url("./img/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .07; }

header {
  text-align: center; }
  header .title {
    font-weight: bold;
    margin-bottom: 5%; }
  header .subtitle, header .info, header .info2 {
    font-size: 0.857em;
    margin-bottom: 5%; }
  header .info2 {
    display: flex;
    justify-content: space-between; }

.label {
  font-size: 0.571em;
  font-style: italic; }

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.857em; }

.under-heading {
  font-size: 0.786em;
  text-align: center;
  margin-bottom: 5%; }
  .under-heading > div {
    margin-bottom: 1%; }

.day, .month, .year, .sign-content .sign, .sign-content .name {
  position: relative; }
  .day:after, .month:after, .year:after, .sign-content .sign:after, .sign-content .name:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    height: 1px; }

.main-content > div {
  font-size: 0.857em;
  margin-bottom: 5%; }

footer .sides {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  align-items: center;
  position: relative; }
footer .left, footer .right {
  width: 50%; }
footer .left {
  display: flex;
  justify-content: left;
  margin-right: 30px; }
  footer .left .img {
    width: 150px;
    height: 150px;
    background-image: url("./img/stamp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .left .text {
    font-size: 0.786em;
    text-align: right;
    position: relative;
    top: 10%; }
footer .sign-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  footer .sign-content .sign {
    width: 58%; }
  footer .sign-content .name {
    width: 40%; }
    footer .sign-content .name .text {
      font-size: 0.857em;
      text-align: center; }
  footer .sign-content .sign, footer .sign-content .name {
    position: relative;
    margin-bottom: 15px; }
    footer .sign-content .sign .label, footer .sign-content .name .label {
      position: absolute;
      bottom: -12px;
      width: 100%;
      text-align: center; }
footer .center {
  text-align: left;
  font-size: 0.857em;
  max-width: 70%; }
footer .qr-code {
  width: 100px;
  height: 100px;
  background-image: url("./img/qr.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  right: 0;
  position: absolute; }

@media (min-width: 700px) {
  body {
    font-size: 18px; }

  footer .center {
    text-align: center;
    max-width: 100%; } }
@media (min-width: 930px) {
  body {
    font-size: 20px; }

  footer .qr-code {
    width: 110px;
    height: 110px; } }
@media (min-width: 1200px) {
  body {
    font-size: 22px; }
  }


.cert-sign{
    margin-top: 30px;
    margin-left: 30px;
    height: 90px;
    max-width: 150px;
    background-image: url("./img/auditsign.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer .sign-content .name .text{
  margin-top: 90px;
}


/*# sourceMappingURL=style.css.map */
