* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  //padding: 30px;
}
.content-wrap {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 30px;
  position: relative;
}
$ms: 1%;
$ml: 5%;
.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .image {
    width: 100%;
    height: 100%;
    background-image: url("./img/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .07;
  }
}
header {
  text-align: center;
  .title {
    font-weight: bold;
    margin-bottom: $ml;
  }
  .subtitle, .info, .info2 {
    font-size: 0.857em;
    margin-bottom: $ml;
  }
  .info2 {
    display: flex;
    justify-content: space-between;
  }
}
.label {
  font-size: 0.571em;
  font-style: italic;
}
.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.857em;
}
.under-heading {
  font-size: 0.786em;
  text-align: center;
  margin-bottom: $ml;
  & > div {
    margin-bottom: $ms;
  }
}
.day, .month, .year, .sign-content .sign, .sign-content .name {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    height: 1px;
  }
}
.main-content {
  & > div {
    font-size: 0.857em;
    margin-bottom: $ml;
  }
}
footer {
  .sides {
    display: flex;
    justify-content: space-between;
    margin-bottom: $ml;
    align-items: center;
    position: relative;
  }
  .left, .right {
    //width: 48%;
    width: 50%;
  }
  .left {
    display: flex;
    justify-content: left;
    margin-right: 30px;
    .img {
      width: 150px;
      height: 150px;
      background-image: url("./img/stamp.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .text {
      font-size: 0.786em;
      text-align: right;
      position: relative;
      top: 10%;
    }
  }
  .sign-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .sign {
      width: 58%
    }
    .name {
      width: 40%;
      .text {
        font-size: 0.857em;
        text-align: center;
      }
    }
    .sign, .name {
      position: relative;
      margin-bottom: 15px;
      .label {
        position: absolute;
        bottom: -12px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .center {
    text-align: left;
    font-size: 0.857em;
    max-width: 70%;
  }
  .qr-code {
    //font-size: 0.857em;
    //color: #FFF;
    //background-color: #4f81bd;
    //border: 3px solid #385d8a;
    width: 100px;
    height: 100px;
    background-image: url("./img/qr.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //padding: 5px;
    margin-top: 30px;
    right: 0;
    position: absolute;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //text-align: center;
  }
}

@media (min-width: 700px) {
  body {
    font-size: 18px;
  }
  footer {
    .center {
      text-align: center;
      max-width: 100%;
    }
  }
}

@media (min-width: 930px) {
  body {
    font-size: 20px;
  }
  footer {
    .qr-code {
      width: 110px;
      height: 110px;
    }
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
  .content-wrap {
    //height: 100%;
    //border: 1px solid #d5d5d5;
    //padding: 0 30px;
  }
}