{% load static %}
<!DOCTYPE html>  
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon.png' %}">
<title>CERT.CSTANDART.RU | Смена пароля</title>
<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/colors/default.css' %}" id="theme"  rel="stylesheet">
</head>
<body>
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
{% if error %}
<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-top alerttop"> <i class="ti-na"></i> {{ error }}<a href="#" class="closed">&times;</a> </div>
{% endif %}
<section id="wrapper" class="new-login-register">
      <div class="lg-info-panel">
              <div class="inner-panel">
                  <a href="/" class="p-20 di"><img src="{% static 'plugins/images/admin-logo.png' %}"></a>
               
              </div>
      </div>

      <div class="new-login-box">

     
                <div class="white-box">
                    <h3 class="box-title m-b-0">Смена пароля</h3>
                   
                  <form class="form-horizontal new-lg-form" id="loginform" method="POST">
                   {% csrf_token %}
                 
                    <div class="form-group  m-t-20">
                      <div class="col-xs-12">
                        <label>Старый пароль</label>
                        <input class="form-control" type="password" name="old_password" required />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <label>Новый пароль</label>
                        <input class="form-control" type="password" name="password_1" required />
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                          <label>Повторите новый пароль</label>
                          <input class="form-control" type="password"  name="password_2" required />
                        </div>
                      </div>
                    
                   
                    <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Сменить</button>
                      </div>
                    </div>
                  
                    
                  </form>
                 
                </div>
      </div>            
  
  
</section>
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<script>

$(document).ready(function(){
  $(".alerttop").fadeToggle(350);
  $(".alerttop").fadeToggle(7000);
});

</script>


</body>
</html>
