{% load static %}
<html>

<head>
    <meta charset=utf-8>
    <title>Агенство Комплаенс Стандарт</title>
    <meta name=description content="">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=format-detection content="telephone=no">
</head>

<body>
    <div class=wrapper>
        <section class=registry-success>

            {% if result %}
            <h1 class=registry-success__title>Аккаунт подтвержден!</h1>
            <p class=registry-success__text> <a href="/login">Нажмите сюда для входа</a> </p>
            {% else %}
            <h1 class=registry-success__title>Ошибка!</h1>
            <p class=registry-success__text>Ссылка устарела или невалидна!</p>
            {% endif %}
        </section>
        <footer class=main-footer>
            <p class=main-footer__text> &copy 2021 АНО "Агентство Комплаенс Стандарт" ОГРН 1217700025290<br> 119331, г. Москва, ул. Кравченко, д. 20, все права защищены </p>
        </footer>
    </div>
    <script type="text/javascript" src="{% static 'endregstuff/js/bundle.js' %}"></script>
</body>

</html>
