{% load static %}
<html>

<head>
    <meta charset=utf-8>
    <title>Агенство Комплаенс Стандарт</title>
    <meta name=description content="">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=format-detection content="telephone=no">
</head>

<body>
    <div class=wrapper>
        <section class=registry-success>
            <h1 class=registry-success__title>Регистрация успешно завершена</h1>
            <p class=registry-success__text> Вы зарегистрировались на портале "Экспертиза Комплаенс Стандарт".<br> Для завершения
                регистрации вам направлено письмо с подтверждением. </p>
                <br>
                <h3><a href="/login">Войдите</a> для продолжения работы</h3>
                <h4>Вашу учетную запись должен подтвердить администратор!</h4>
        </section>

        <footer class=main-footer>
            <p class=main-footer__text> &copy 2021 АНО "Агентство Комплаенс Стандарт" ОГРН 1217700025290<br> 119331, г. Москва, ул. Кравченко, д. 20, все права защищены </p>
        </footer>
    </div>
    <script type="text/javascript" src="{% static 'endregstuff/js/bundle.js' %}"></script>
</body>

</html>