{% load static %}

<!DOCTYPE html>
<html>
{% block head %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
    <title>CERT.CSTANDART.RU | Аудит</title>

    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">

    <link href="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/colors/purple.css' %}" id="theme" rel="stylesheet">
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/url.min.js' %}"></script>
    
</head>
{% endblock %}

<body class="fix-header">

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    {% block content %}
    <div id="wrapper">
        {% block topbar%}
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">

                    <a class="logo" href="/">
                        <!-- Logo icon image, you can use font-icon also --><b>
                            <!--This is dark logo icon--><img src="{% static 'plugins/images/admin-logo-dark.png' %}"
                                alt="home" class="dark-logo" /><img
                                src="{% static 'plugins/images/admin-logo-dark.png' %}" alt="home" class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                            <!--This is dark logo text--><img src="{% static 'plugins/images/admin-text-dark.png' %}"
                                alt="home" class="dark-logo" /><img
                                src="{% static 'plugins/images/admin-text-dark.png' %}" alt="home" class="light-logo" />
                        </span> </a>
                </div>



                <ul class="nav navbar-top-links navbar-right pull-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"><b
                                class="hidden-xs">{{ request.user.first_name }} {{ request.user.last_name }} </b><span
                                class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            {% if user.is_staff %}
                            <li><a href="/djadmin"><i class="fa fa-gears"></i> Управление моделями</a></li>
                            {% endif %}
                            <li><a href="/changepassword"><i class="fa fa-gears"></i> Смена пароля</a></li>
                            <li><a href="/logout"><i class="fa fa-power-off"></i> Выход</a></li>
                        </ul>

                    </li>

                </ul>
            </div>

        </nav>
        {% endblock topbar%}

        {% block sidebar %}
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span
                            class="hide-menu">Навигация</span></h3>
                </div>
                <div class="user-profile">
                    <div class="dropdown user-pro-body">

                    </div>
                </div>

                <ul class="nav" id="side-menu">
                    <li> <a href="/"><i class="fa fa fa-hashtag"></i><span class="hide-menu"> Главная
                                страница</span></a> </li>

                    {% if request.user.role_class != 'C2' %}
                    <li> <a href="/accounts"><i class="fa fa-database"></i><span class="hide-menu"> Аккаунты</span></a>
                    </li>
                    {% endif %}
                    {% if request.user.role_class == 'C3' %}
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-credit-card-alt"></i> <span
                                class="hide-menu">Процессы<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                           <!-- <li> <a href="/workflow/table"><i class="fa fa-code-fork"></i><span class="hide-menu">
                                        Версии</span></a> </li>-->
                            <li> <a href="/workflow/clients"><i class="fa fa-link"></i><span class="hide-menu">
                                        Привязки</span></a> </li>
                        <li> <a href="/extend"><i class="fa fa-code-fork"></i><span class="hide-menu"> Редактор</span></a> </li> 
                        </ul>
                    </li>
                    {% endif %}
                    {% if request.user.role_class == 'C1' %}
                    <li> <a href="/autocheck"><i class="fa fa-bolt"></i><span class="hide-menu"> Автопроверки</span></a>
                    </li>
                    {% endif %}
                    {% if request.user.role_class == 'C3' %}
                    <li> <a href="javascript:void(0)" class="waves-effect"><i class="fa fa-credit-card-alt"></i> <span
                                class="hide-menu">Сертификаты<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/certs/table"><i class="fa fa-database"></i><span class="hide-menu"> Общая
                                        таблица</span></a> </li>

                        </ul>
                    </li>
                    {% endif %}


                </ul>

            </div>
        </div>

        {% endblock %}

        {% block page %}
        <!-- <div id="page-wrapper">
       <div class="container-fluid">
           

      </div></div>-->
        <!-- <link href="{% static 'css/2.af3c1da9.chunk.css' %}" rel="stylesheet">
      <link href="{% static 'css/main.5f361e03.chunk.css' %}" rel="stylesheet">-->
      <link href="{% static 'reactyaml/css/2.2b14b8f0.chunk.css' %}" rel="stylesheet">
      <link href="{% static 'reactyaml/css/main.241ba023.chunk.css' %}" rel="stylesheet">
      <link href="{% static 'css/custom.css' %}" rel="stylesheet">
     
        <div id="page-wrapper">
            <div class="container">
                <div id="root"></div>
            </div>
        </div>

        <script>!function (e) { function r(r) { for (var n, p, l = r[0], a = r[1], f = r[2], c = 0, s = []; c < l.length; c++)p = l[c], Object.prototype.hasOwnProperty.call(o, p) && o[p] && s.push(o[p][0]), o[p] = 0; for (n in a) Object.prototype.hasOwnProperty.call(a, n) && (e[n] = a[n]); for (i && i(r); s.length;)s.shift()(); return u.push.apply(u, f || []), t() } function t() { for (var e, r = 0; r < u.length; r++) { for (var t = u[r], n = !0, l = 1; l < t.length; l++) { var a = t[l]; 0 !== o[a] && (n = !1) } n && (u.splice(r--, 1), e = p(p.s = t[0])) } return e } var n = {}, o = { 1: 0 }, u = []; function p(r) { if (n[r]) return n[r].exports; var t = n[r] = { i: r, l: !1, exports: {} }; return e[r].call(t.exports, t, t.exports, p), t.l = !0, t.exports } p.m = e, p.c = n, p.d = function (e, r, t) { p.o(e, r) || Object.defineProperty(e, r, { enumerable: !0, get: t }) }, p.r = function (e) { "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, { value: "Module" }), Object.defineProperty(e, "__esModule", { value: !0 }) }, p.t = function (e, r) { if (1 & r && (e = p(e)), 8 & r) return e; if (4 & r && "object" == typeof e && e && e.__esModule) return e; var t = Object.create(null); if (p.r(t), Object.defineProperty(t, "default", { enumerable: !0, value: e }), 2 & r && "string" != typeof e) for (var n in e) p.d(t, n, function (r) { return e[r] }.bind(null, n)); return t }, p.n = function (e) { var r = e && e.__esModule ? function () { return e.default } : function () { return e }; return p.d(r, "a", r), r }, p.o = function (e, r) { return Object.prototype.hasOwnProperty.call(e, r) }, p.p = "/"; var l = this["webpackJsonpmy-app"] = this["webpackJsonpmy-app"] || [], a = l.push.bind(l); l.push = r, l = l.slice(); for (var f = 0; f < l.length; f++)r(l[f]); var i = a; t() }([])</script>
        <script src="{% static 'reactyaml/js/2.b1541080.chunk.js' %}"></script>
        <script src="{% static 'reactyaml/js/main.e51dd29e.chunk.js' %}"></script>

        {% endblock page %}



        {% endblock content %}
        {% block footer %}

        {% endblock %}

        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/custom.min.js' %}"></script>
        <script src="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
        <script src="{% static 'plugins/bower_components/switchery/dist/switchery.min.js' %}"></script>
        <script src="{% static '/plugins/bower_components/custom-select/custom-select.min.js' %}"></script>



        <script>



            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>

        {% block scriptaddons %}

        {% endblock %}


</body>
<html>