{% extends 'base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Главная страница</h3> 
                        </div>
                    </div>
                </div>
    {% if who == 'boss' or who == 'slave' or who == 'audit' %}
    
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
{% if flows %}

          
 <div class="table-responsive">
                        <h4 class="box-title">Версии доступа</h4>
                       <h5>Нажмите на нужную Вам версию доступа и начните проходить опрос</h5>
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                        <thead>
                                            <tr>
                                              <!--  <th>ID</th>-->
                                                <th>Версия доступа</th>
                                                <th>Раздел экспертизы</th>
                                                <th>Клиент</th>
                                                <th>Прогресс</th>
                                                <th>Осталось вопросов</th>
                                                <th>ОГРН</th>
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for f in flows %}
                                                <tr>
                                                    <!--<td>{{ f.id }} </td>-->
                                                    <td><a class='info-text' href="/card/{{f.id}}">{{f.link_name}}</a></td>
                                                     <td>{{ f.f_name}}</td>
                                                    <td>{{ f.client }}</td>
                                                    <td>
                                                        <div class="progress progress-lg" title="{% if f.completed %}Весь опрос пройден, ожидайте выдачи сертификата{% elif f.stat.yellow != 0 %}Все вопросы пройдены, ожидайте одобрения экспертом{% elif f.stat.red != 0 %}Все вопросы пройдены, ожидайте одобрения экспертом{% else %}Остались неотвеченные вопросы{% endif %}">
                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{f.stat.green_pr}}%;" class="progress-bar progress-bar-success progress-bar-striped"></div>
                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{f.stat.yellow_pr}}%;" class="progress-bar progress-bar-warning progress-bar-striped active"></div>
                                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{f.stat.red_pr}}%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                                                        </div>
                                                            
                                                    </td>
                                                    <td>{{f.stat.blue}}</td>
                                                    <td>{{ f.ogrn }}</td>
                                                  
                                                                                                    
                                                </tr>
                                            {% endfor %}
                                            
                            
                                        </tbody>
                                    
                                    </table>
                                </div>




        {% else %}
        <h3>Скоро здесь появятся варианты доступа к тестированию, которые создаст Ваш менеджер нашей компании</h3><hr>
        <h4>Слева находится раздел <b>аккаунты</b>, где Вы можете создать учетные записи для Ваших сотрудников, привязянные к этому аккаунту. <br>В дальнейшем Вы сможете назначать им для ответа отдельные вопросы и целые блоки </h4>
 {% endif %}

                </div>
            </div>
        </div>

    {% endif %}


            </div>
        </div>



    {% endblock page %}

{% block scriptaddons %}

{% endblock scriptaddons %}