{% load static %}
<!DOCTYPE html>  
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
<title>CERT.CSTANDART.RU | Регистрация</title>
<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bower_components/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bower_components/register-steps/steps.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/colors/default.css' %}" id="theme"  rel="stylesheet">
<link href="{% static 'css/custom.css' %}"  rel="stylesheet">
</head>
<body>
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
{% if reg_error %}
<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-top alerttop"> <i class="ti-na"></i> {{ reg_error }}<a href="#" class="closed">&times;</a> </div>
{% endif %}
<section id="wrapper" class="step-register">
  <div class="register-box">
    <div class="">
       <a href="/" class="text-center db m-b-40"><img src="{% static 'favicon.ico' %}" alt="Home" /></a>

        <form id="msform" method="POST" action="">
         
       

        <fieldset>
        <h2 class="fs-title">Создайте учетную запись</h2>
        <h3 class="fs-subtitle">Все поля обязательны для заполнения!</h3>
        <input class="reg-field" type="text" id="username" placeholder="Логин"  required/>
        <input class="reg-field" type="password" id="pass" placeholder="Пароль" required/>
        <input class="reg-field" type="password" id="pass2" placeholder="Повторите пароль" required/>
        <input class="reg-field" type="text" id="last_name" placeholder="Фамилия" required/>
        <input class="reg-field" type="text" id="first_name" placeholder="Имя" required/>
        <input class="reg-field" type="text" id="father_name" placeholder="Отчество" required/>
        <input class="reg-field" type="text" id="email" placeholder="Email" required/>
        <input class="reg-field" type="text" id="phone" placeholder="Контактный телефон" required/>
        <!--<input class="reg-field" type="text"  class="form-control" id="datepicker-autoclose" placeholder="Дата рождения" required>-->
        <p>Уже зарегистрированы? Тогда <a href="/login">войдите</a></p>
        <input type="submit" name="submit" class="submit action-button" id="action-button" value="Отправить" />
        </fieldset>
        
        </form>
        <div class="clear"></div>
    </div>
  </div>
</section>
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/register-steps/jquery.easing.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/register-steps/register-init.js' %}"></script>
<script src="{% static 'plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function raiseToast(head, text, type, position='top-right', hide = 3500){

    $.toast({
        heading: head,
        text: text,
        position: position,
        loaderBg: '#ff6849',
        icon: type,
        hideAfter: hide,
        stack: 6
    });
}

function sendToReg(data){
    var url_s = "/register/";
    
        $.ajax({
          type:"POST",
          url:url_s,
          data: data,
          cache: false,
          success: function(responce){ 
              
             if(!responce['success']){
               raiseToast('Ошибка',responce['error'],'error');
             }
             else{
               document.location.href = '/endregister/'
             }
          },
         error: function(jqXHR){
            raiseToast('Ошибка','Проверьте заполнение полей!','error');
          }
        });

 };




//  jQuery('#datepicker-autoclose').datepicker({
//        autoclose: true,
//        todayHighlight: false,
//        format: 'dd-mm-yyyy',
//    });

$(document).ready(function(){
  $(".alerttop").fadeToggle(350);
  $(".alerttop").fadeToggle(7000);
});

$('#action-button').click(function(e){

e.preventDefault();
let fields = [];
fields.push($("#username").val());
fields.push($("#pass").val());
fields.push($("#pass2").val());
fields.push($("#last_name").val());
fields.push($("#first_name").val());
fields.push($("#email").val());
fields.push($("#phone").val());
//fields.push($("#datepicker-autoclose").val());
let error = 0;
fields.forEach(function(el){
  if(el==""){
   error = 1;
  }
 });
 if($("#pass").val() != $("#pass2").val()){
    error =  2;
  }

  if (error == 0){

    let csrftoken = getCookie('csrftoken');
    console.log(csrftoken);
    let data = {
      'username':$("#username").val(),
      'pass':$("#pass").val(),
      'pass2':$("#pass2").val(),
      'last_name':$("#last_name").val(),
      'first_name':$("#first_name").val(),
      'father_name':$("#father_name").val(),
      'email':$("#email").val(),
      'phone':$("#phone").val(),
     // 'birthdate':$("#datepicker-autoclose").val(),
      'csrfmiddlewaretoken':csrftoken,
    }
    console.log(data);
    sendToReg(data);
  }
  else if (error == 1){
    raiseToast('Ошибка','Все поля должны быть заполнены!','error');
  }
  else if (error == 2){
    raiseToast('Ошибка','Пароли должны быть одинаковые!','error');
  }
  else {
    raiseToast('Ошибка','Проверьте заполнение полей!','error');
  }


 







});



</script>




</body>
</html>
