{% load static %}
<!DOCTYPE html>  
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
 <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.ico' %}">
<title>Восстановление пароля</title>
<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bower_components/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<link href="{% static 'css/colors/default.css' %}" id="theme"  rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
{% if login_error %}
<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-top alerttop"> <i class="ti-na"></i> {{ login_error }}<a href="#" class="closed">&times;</a> </div>
{% endif %}
<section id="wrapper" class="new-login-register">
      <div class="lg-info-panel">
              <div class="inner-panel">
               <!--   <a href="javascript:void(0)" class="p-20 di"><img src="{% static 'plugins/images/admin-logo.png' %}"></a>-->
               
              </div>
      </div>

      <div class="new-login-box">

     
                <div class="white-box">
                    <h3 class="box-title m-b-0">Восстановление пароля</h3>
                    <small>Введите свой логин</small>
                  <form class="form-horizontal new-lg-form" id="loginform" method="POST">
                   {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-group  m-t-20">
                      <div class="col-xs-12">
                        <label>Логин</label>
                        <input class="form-control" type="text" required="" placeholder="Логин" id="login">
                      </div>
                    </div>
                    
                    <div class="form-group">
                   
                    <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" id="submit">Продолжить</button>
                      </div>
                    </div>
                  
                    
                  </form>
                  <div class="col-xs-12">
                        <a href="/login" id="log_btn"><button class="btn btn-success btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">К странице входа</button></a>
                      </div>
                </div>
      </div>            
  
  
</section>
<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function raiseToast(head, text, type, position='top-right', hide = 3500){

    $.toast({
        heading: head,
        text: text,
        position: position,
        loaderBg: '#ff6849',
        icon: type,
        hideAfter: hide,
        stack: 6
    });
}
$(document).ready(function(){
  $(".alerttop").fadeToggle(350);
  $(".alerttop").fadeToggle(7000);
});
$('#log_btn').click(function(e){
    e.preventDefault();
    document.location.href = '/login'
});

$('#submit').click(function(e){
    e.preventDefault();
    let login = $('#login').val();
    let csrftoken = getCookie('csrftoken');
    let data = {
      'login':login,
      'csrfmiddlewaretoken':csrftoken,
    }

     var url_s = "/resetpassword/";
    
        $.ajax({
          type:"POST",
          url:url_s,
          data: data,
          cache: false,
          success: function(responce){ 
             if(!responce['success']){
               raiseToast('Ошибка',responce['error'],'error');
             }
             else{
               raiseToast('Отлично!','Проверьте свою почту, туда направлен новый пароль','success');
             }
          },
         error: function(jqXHR){
            raiseToast('Ошибка','Проверьте заполнение полей!','error');
          }
        });
});
</script>


</body>
</html>
