{% extends '../base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Тарифы</h3>
                            <div class="scrollable">
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                        <thead>
                                            {% if user.is_staff %}
                                                <tr>
                                                        <td colspan="2">
                                                            <button type="button" class="btn btn-info btn-rounded" id="action-add" data-toggle="modal" data-target="#add-cert">Добавить тариф</button>
                                                        </td>
                                                        <div id="add-cert" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                        <h4 class="modal-title" id="myModalLabel">Добавить новый тариф</h4> </div>
                                                                    <div class="modal-body floating-labels">
                                                                        <form class="floating-labels " method="POST" action="">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="mode" id="modal-mode" value="add" >
                                                                            <input type="hidden" name="id" id="modal-id" value="" >

                                                                           
                                                                                <br>
                                                                                <div class="form-group m-b-40">
                                                                                    <input name="name" id="modal-name" value="" type="text" class="form-control" required>
                                                                                    <span class="highlight"></span> <span class="bar"></span>
                                                                                    <label for="modal-name">Название</label> 
                                                                                </div>

                                                                                <div class="form-group m-b-40">
                                                                                    <input name="description" id="modal-description" value="" type="text" class="form-control" required>
                                                                                    <span class="highlight"></span> <span class="bar"></span>
                                                                                    <label for="modal-description">Описание</label> 
                                                                                </div>

                                                                                    <div class="form-group m-b-40">
                                                                                        <input name="cost" id="modal-cost" value="" type="text" class="form-control" required>
                                                                                        <span class="highlight"></span> <span class="bar"></span>
                                                                                        <label for="modal-cost">Стоимость</label>  
                                                                                    </div>

                                                                                    <div class="form-group m-b-40">
                                                                                        <div class="checkbox checkbox-success checkbox-circle">
                                                                                            <input id="modal-is_free" type="checkbox" checked="" name="is_free">
                                                                                            <label for="modal-is_free"> Бесплатный </label>
                                                                                        </div>
                                                                                    </div><br><br><br>
                                                                             
                                                                          
                                                                                
                                                                            
                                                                       
                                                                    
                                                                 <div class="form-group m-b-40">
                                                                        <div class="modal-btn-block">
                                                                            <button type="submit" class="btn btn-info waves-effect">Сохранить</button>
                                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Отменить</button>
                                                                        </div>
                                                                         </div>
                                                                      </form>
                                                                    </div> 
                                                                    </div>
                                                                </div>
                                                              
                                                            </div>
                                                            
                                                        
                                                       
                                                    </tr>
                                                {% endif %}
                                            <tr>
                                                
                                                <th>Название</th>
                                               
                                                <th>Описание</th>
                                                <th>Стоимость</th>
                                                <th>Бесплатный</th>
                                                <th>Активен</th>
                                                <th>Действия</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for r in rates %}
                                            <tr>
                                                <td>{{ r.name }}</td>
                                                <td><details class="details-slaves"><summary></summary><p><br>{{ r.description }}</p></details></td>
                                                
                                                <td>{{ r.cost }}</td>
                                                <td>{% if r.is_free %}
                                                                    <span class="label label-success">Да</span>
                                                                {% else %}
                                                                    <span class="label label-warning">Нет</span>
                                                                {% endif %}</td>
                                                <td>{% if r.is_active %}
                                                                    <span class="label label-success">Да</span>
                                                                {% else %}
                                                                    <span class="label label-warning">Нет</span>
                                                                {% endif %}</td>

                                                
                                                <td>
                                                   <button type="button" 

                                                        data-id="{{ r.id }}" 
                                                        class="btn btn-success btn-circle action-activate">
                                                        <i class="fa fa-check"></i> 
                                                    </button>
                                                    <button type="button" 
                                                        data-target="#add-cert"
                                                        data-toggle="modal"
                                                        data-id="{{ r.id }}" 
                                                        data-name="{{ r.name }}" 
                                                        data-description="{{ r.description }}" 
                                                        data-cost="{{ r.cost }}" 
                                                        data-isfree="{{ r.is_free }}" 
                                                        
                                                        class="btn btn-warning btn-circle action-edit">
                                                        <i class="fa fa-wrench"></i> 
                                                    </button>
                                                    <button type="button" 

                                                        data-id="{{ r.id }}" 
                                                        class="btn btn-danger btn-circle action-delete">
                                                        <i class="fa fa-minus"></i> 
                                                    </button>
                                                    

                                                </td>
                                               
                                            </tr>
                                            {% endfor %}
                                           
                                           
                                        </tbody>
                                        <tfoot>
                                
                                        </tfoot>
                                    </table>
                                    {% load bootstrap3 %}











                                    {% bootstrap_pagination rates %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
<form id="cert-del-form" method="POST">
{% csrf_token %}
<input type="hidden" name="mode" value="delete">
<input type="hidden" name="id" value="" id="rate-del-field">
</form>

<form id="cert-activate-form" method="POST">
{% csrf_token %}
<input type="hidden" name="mode" value="activate">
<input type="hidden" name="id" value="" id="rate-activate-field">
</form>

    {% endblock page %}

{% block scriptaddons %}
<script>
{% if error %}
$(document).ready(function () {
        $.toast({
            heading: 'Ошибка!',
            text: '{{ error }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });
{% endif %}

$("#modal-mode").val("add");
$("#modal-certnum").attr("type","text");
$("#modal-companyname").val("");
$("#modal-certnum").val("");
$("#modal-ogrn").val("");
$("#modal-level").val("");
$("#modal-score").val("");
$("#modal-certcreatedate").val("");
$("#modal-certenddate").val("");
$('.action-edit').click(function(){
                var editbtn = $(this);
                $("#modal-id").val(editbtn.attr('data-id'));
                $("#modal-name").val(editbtn.attr('data-name'));
                $("#modal-description").val(editbtn.attr('data-description'));
                $("#modal-cost").val(editbtn.attr('data-cost'));
                console.log(editbtn.attr('data-isfree'));
                if (editbtn.attr('data-isfree') == 'True'){
                    $("#modal-is_free").prop('checked', true);
                    console.log(1);
                }
                else
                {
                    $("#modal-is_free").prop('checked', false);
                    console.log(0);
                }
                
                
                //$("#modal-is_free").val(editbtn.attr('data-isfree'));
                $("#modal-mode").val("edit");
                $("#modal-certnum").attr("type","hidden");
                $("#myModalLabel").html("Редактировать тариф "+editbtn.attr('data-name'));
                
            });
$('#action-add').click(function(){  
    $("#myModalLabel").html("Добавить новый тариф");
    $("#modal-mode").val("add");
            });       




$('.action-delete').click(function(){
        var rate_id = $(this).attr('data-id');
        $('#rate-del-field').val(rate_id);
        //console.log(certnum_to_del);
        swal({   
            title: "Вы уверены?",   
            text: "Удалить тариф?",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Да, удалить",   
            closeOnConfirm: false 
        }, function(){   
           $('#cert-del-form').submit();
        });
});
$('.action-activate').click(function(){
        var rate_id = $(this).attr('data-id');
        $('#rate-activate-field').val(rate_id);
        //console.log(certnum_to_del);
         
        $('#cert-activate-form').submit();
        
});
</script>
{% endblock scriptaddons %}