{% extends '../base.html' %}
    {% block page %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box">
                            <h3 class="box-title">Автоматические проверки</h3> 
                        </div>
                    </div>
                </div>

           
                <div class="row">
                        <div class="col-md-12">
                            <div class="white-box">
                               
                                    <h3 class="box-title">Риски для ОГРН {{ client.ogrn }}</h3>
                                    <div class="scrollable">
                                        <div class="table-responsive">
                                            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="40">
                                                <thead>
                                                    <tr>

                                                        <th>Риск</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for c in checks.risks %}
                                                        <tr>

                                                            
                                                            <td>
                                                                {% if c.isActive %}
                                                                <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-check"></i> </button>
                                                                
                                                                <span class="autocheck-error">{{ c.name }}</span>
                                                                {% else %}
                                                                    {% if c.name %}
                                                                         <button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i> </button>
                                                                
                                                                        <span class="autocheck-success">{{ c.name }}</span>  
                                                                    {% else %}
                                                                    <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-check"></i> </button>
                                                                
                                                                <span class="autocheck-error">{{ c.details }}</span>
                                                                {% endif %}{% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    
                                    
                                                </tbody>
                                                <tfoot>
                                     
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
    



            </div>
        </div>



    {% endblock page %}

{% block scriptaddons %}
<script>
{% if error %}
$(document).ready(function(){
        $.toast({
            heading: 'Ошибка',
            text: '{{ error }}',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 3500

        });

    });

{% endif %}
</script>
{% endblock scriptaddons %}