{% load static %}
<html>

<head>
    <meta charset=utf-8>
    <title>Агенство Комплаенс Стандарт</title>
    <meta name=description content="">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name=format-detection content="telephone=no">
    <link rel=icon href="{% static 'favicon.ico' %}" sizes=32x32 type=image/png />
</head>

<body>
    <div class=wrapper>
        <div> <img id=logo src="{% static 'certstuff/fonts/logo.svg' %}" alt="Агенство Комплаенс Стандарт">
            <h1 class=header__sertificat>сертификат</h1>
            <div class=subtitle> <span class=header__number-mark>&#8470</span> <span class=subtitle__number>{{ cert.certnum }}</span>
            </div>
            <section class=success-text>
                <p class=success-text__complete>Настоящий сертификат свидетельствует <br>об успешном прохождении
                    комплаенс-экспертизы</p>
                <p class=success-text__this-name><span class=success-text__quotes>&laquo</span>{{ cert.companyname }}<span class=success-text__quotes>&raquo</span></p>
            </section>
            <div class=OGRN>
                <p class=OGRN__text>ОГРН <span class=OGRN__number>{{ cert.ogrn }}</span></p>
            </div>
            <section class=sertificate-rating> <svg class="sertificate-rating__svg sertificate-rating__svg--top"
                    xmlns=http://www.w3.org/2000/svg viewBox="0 0 222.73 0.59" height=2>
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #9a9a9a
                            }
                        </style>
                    </defs>
                    <title>divider</title>
                    <g id=Слой_2 data-name="Слой 2">
                        <g id=Logo>
                            <path id=divider class=cls-1
                                d=M244.23,62.61s93,.31,121.84.31c28.65,0,100.9-.31,100.9-.31s-72.25-.28-100.9-.28C337.22,62.33,244.23,62.61,244.23,62.61Z
                                transform="translate(-244.23 -62.33)" />
                        </g>
                    </g>
                </svg>
                <div class=sertificate-rating--wrapper> <img class=sertificate-rating__img src="{% static 'certstuff/fonts/check.svg' %}"
                        alt=&#10004>
                    <div>
                        <div class=sertificate-rating__text> Уровень сертификации &#8211 <span
                                class=sertificate-rating__text--red>{{ cert.level }}</span><br> Комплаенс рейтинг &#8211 <span
                                class=sertificate-rating__text--red>{{ cert.score }}</span><!--<br> Ранее выданные сертификаты &#8211 <a
                                class=sertificate-rating__text--red href=#>123456</a>--> </div>
                    </div>
                </div> <svg class="sertificate-rating__svg sertificate-rating__svg--top"
                    xmlns=http://www.w3.org/2000/svg viewBox="0 0 222.73 0.59" height=2>
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #9a9a9a
                            }
                        </style>
                    </defs>
                    <title>divider</title>
                    <g id=Слой_2 data-name="Слой 2">
                        <g id=Logo>
                            <path id=divider class=cls-1
                                d=M244.23,62.61s93,.31,121.84.31c28.65,0,100.9-.31,100.9-.31s-72.25-.28-100.9-.28C337.22,62.33,244.23,62.61,244.23,62.61Z
                                transform="translate(-244.23 -62.33)" />
                        </g>
                    </g>
                </svg>
            </section>
            <section class=main-date> <img class=main-date__img src="https://cert.cstandart.ru/qr?crt={{ cert.certnum }}" height=180 width=180>
                <div class=main-date__text-wrapper>
                    <p class=main-date__text> Дата сертификации:<br><span class=main-date__text--red>{{ cert.certcreatedate| date:"d.m.Y" }}</span>
                    </p>
                    <p class=main-date__text> Действителен до:<br><span class=main-date__text--red>{{ cert.certenddate| date:"d.m.Y" }}</span>
                    </p>
                </div> <img class=main-date__img src="{% static 'certstuff/img/signature.png' %}" height=180 width=200>
            </section>
            <footer class=main-footer>
                <p class=main-footer__text> &copy 2020 ООО "Агенство комплаенс стандарт" ОГРН 000000000000<br> Россия,
                    Москва, 125047, ул.Гашека, 8-10С2, все права защищены </p>
            </footer>
        </div>
    </div>
    <script src="{% static 'certstuff/js/bundle.js' %}"></script>
    
</body>

</html>