{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'certstuff/style.css' %}">
    <title>Сертификат</title>
</head>
<body>
<div class="content-wrap">
    <header>
        <div class="title">
            СИСТЕМА ДОБРОВОЛЬНОЙ СЕРТИФИКАЦИИ<br>
            В ОБЛАСТИ АУДИТА КОРПОРАТИВНОЙ БЕЗОПАСНОСТИ (КОМПЛАЕНСА)
        </div>
        <div class="subtitle">
            Зарегистрирована в Едином реестре<br>
            зарегистрированных систем добровольной сертификации<br>
            Федеральным агентством по техническому регулированию и метрологии<br>
            Российской Федерации
        </div>
        <div class="info">
            Регистрационный № РОСС RU.К971.04ФЖБ1 от 21.09.2012 г.
        </div>
        <div class="info2">
            <div class="left">
                №{{ cert.certnum }}
            </div>
            <div class="right">
                <div class="content">
                    АНО «Агентство Комплаенс Стандарт»
                </div>
                <div class="label">
                    Наименование органа по сертификации
                </div>
            </div>
        </div>
    </header>
    <div class="main-container">
        <h1 class="heading">
            СЕРТИФИКАТ СООТВЕТСТВИЯ
        </h1>
        <div class="under-heading">
            <div>ДЕКЛАРАТИВНОГО ТИПА</div>
            <div>
                Дата внесения в Реестр  {{ cert.certcreatedate| date:"d.m.Y" }} г.
            </div>
            <div>
               Действителен с {{ cert.certcreatedate| date:"d.m.Y" }} г. по {{ cert.certenddate| date:"d.m.Y" }} г.
            </div>
        </div>
        <div class="main-content">
            <div>
                НАСТОЯЩИЙ СЕРТИФИКАТ УДОСТОВЕРЯЕТ, ЧТО:<br>
                {{ cert.companyname }} ОГРН {{ cert.ogrn }}
            </div>
            <div>
                СООТВЕТСТВУЕТ ТРЕБОВАНИЯМ СИСТЕМЫ ДОБРОВОЛЬНОЙ СЕРТИФИКАЦИИ В ОБЛАСТИ АУДИТА КОРПОРАТИВНОЙ БЕЗОПАСНОСТИ (КОМПЛАЕНСА) НА ДЕКЛАРАТИВНОМ УРОВНЕ ПО ПРОФИЛЮ:<br>
                «{{ cert.profile_name }}»
            </div>
            <div>
                ОСНОВАНИЕ ДЛЯ ВЫДАЧИ ИЛИ ПРОДЛЕНИЯ СРОКА ДЕЙСТВИЯ СЕРТИФИКАТА<br>
                Процедура сертификации с применением онлайн-технологий
            </div>
        </div>
    </div>
    <footer>
        <div class="sides">
            <div class="left">
                <div class="img"></div>
                <div class="text">
                    Руководитель органа<br>
                    по сертификации
                </div>
            </div>
            <div class="right">
                <div class="sign-content">
                    <div class="sign">
                        <div class="cert-sign">
                        </div>
                        <div class="label">
                            Подпись
                        </div>
                    </div>
                    <div class="name">
                        <div class="text">
                            Белов А.А.
                        </div>
                        <div class="label">
                            Фамилия, инициалы
                        </div>
                    </div>
                </div>
                <div class="qr-code"><img class=main-date__img src="https://cert.cstandart.ru/qr?crt={{ cert.certnum }}" height=110 width=110></div>
            </div>
        </div>
        <div class="center">
            Уникальный буквенно-числовой номер сертификата:<br>
            {{ cert.certnum }}
        </div>
    </footer>
    <div class="bg">
        <div class="image"></div>
    </div>
</div>

</body>
</html>