{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/report.css' %}" rel="stylesheet">
	<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Отчет</title>
	<style type="text/css">
		@page { size: 21cm 29.7cm; margin-left: 3cm; margin-right: 1.5cm; margin-top: 1.25cm; margin-bottom: 0.23cm }
		@page:first { margin-top: 1.25cm; margin-bottom: 2cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%;  orphans: 2; widows: 2; background: transparent }
		h1 { margin-bottom: 0cm; direction: ltr; color: #2f5496; line-height: 108%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2; background: transparent; page-break-after: avoid }
		h1.western { font-family: "Times New Roman", serif; font-size: 16pt }
		h1.cjk { font-family: ; font-size: 16pt }
		h1.ctl { font-family: ; font-size: 16pt }
		h1.toc-heading-cjk { so-language: ru-RU }
		a:link { color: #0563c1; text-decoration: underline }
	</style>
</head>
<body lang="ru-RU" link="#0563c1" vlink="#800000" dir="ltr">
<div class="container-fluid">
	<div class="row header-main">
		
			<div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">
			</div>
			<div class="col-lg-2 col-md-3 col-sm-2 col-xs-12 header-logo-div">
				<img class="header-logo" src="{% static 'img/reporttoplogo.png' %}" />
			</div>
			<div class="col-lg-3 col-md-5 col-sm-4 col-xs-12 header-title-div">
				<span class="header-title">Автономная некоммерческая организация<br/>«Экспертный Центр по разработке, развитию и распространению<br/>комплаенс-принципов и стандартов ответственного ведения бизнеса<br/>«Агентство Комплаенс Стандарт»</span>
			
				<br><img src="{% static 'img/reportredline.gif' %}"/><br>
				<span class="header-license">Свидетельство о государственной регистрации	некоммерческой организации<br/>№ 1217700025290 от 27 января 2021 г.</span>
			</div>
			<div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
			</div>
		
	</div>

	<div class="row head-line-creds">
		<div class="col-xs-6 head-date">
				<span class="">{{report_date | date:"d.m.Y"}}</span>
		</div>
		<div class="col-xs-6 head-city">
			<span class="">г. Москва</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 head-security">
			<span class="">КОНФИДЕНЦИАЛЬНО</span>
		</div>
	</div>
</div>





<p align="center" style="margin-bottom: 0.25cm; line-height: 108%"><font color="#0070c0"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>ОТЧЕТ</b></font></font></font></p>
<p align="center" style="margin-bottom: 0.25cm; line-height: 108%"><font color="#0070c0"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>по
незагруженным файлам/данным</b></font></font></font></p>

<p align="justify" style="text-indent: 1.25cm; margin-top: 0.51cm; margin-bottom: 0.51cm; line-height: 108%">
<br/>


</p>



<br/>




	{% for stage in report %}
	<font size="4" style="font-size: 14pt">{{stage.num}}:</font><br>
	<li><b>ФАЙЛ:</b> {{stage.official_filename}}</li>
	<li><b>КОММЕНТАРИЙ КЛИЕНТА:</b> {{stage.comment}}</li>
	
		
	{% endfor %%}
<br><br>




	


<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>