{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/report.css' %}" rel="stylesheet">
	<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Отчет</title>
	<style type="text/css">
		@page { size: 21cm 29.7cm; margin-left: 3cm; margin-right: 1.5cm; margin-top: 1.25cm; margin-bottom: 0.23cm }
		@page:first { margin-top: 1.25cm; margin-bottom: 2cm }
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%;  orphans: 2; widows: 2; background: transparent }
		h1 { margin-bottom: 0cm; direction: ltr; color: #2f5496; line-height: 108%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2; background: transparent; page-break-after: avoid }
		h1.western { font-family: "Times New Roman", serif; font-size: 16pt }
		h1.cjk { font-family: ; font-size: 16pt }
		h1.ctl { font-family: ; font-size: 16pt }
		h1.toc-heading-cjk { so-language: ru-RU }
		a:link { color: #0563c1; text-decoration: underline }
	</style>
</head>
<body lang="ru-RU" link="#0563c1" vlink="#800000" dir="ltr">
<div class="container-fluid">
	<div class="row header-main">
		
			<div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">
			</div>
			<div class="col-lg-2 col-md-3 col-sm-2 col-xs-12 header-logo-div">
				<img class="header-logo" src="{% static 'img/reporttoplogo.png' %}" />
			</div>
			<div class="col-lg-3 col-md-5 col-sm-4 col-xs-12 header-title-div">
				<span class="header-title">Автономная некоммерческая организация<br/>«Экспертный Центр по разработке, развитию и распространению<br/>комплаенс-принципов и стандартов ответственного ведения бизнеса<br/>«Агентство Комплаенс Стандарт»</span>
			
				<br><img src="{% static 'img/reportredline.gif' %}"/><br>
				<span class="header-license">Свидетельство о государственной регистрации	некоммерческой организации<br/>№ 1217700025290 от 27 января 2021 г.</span>
			</div>
			<div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
			</div>
		
	</div>

	<div class="row head-line-creds">
		<div class="col-xs-6 head-date">
				<span class="">{{report_date | date:"d.m.Y"}}</span>
		</div>
		<div class="col-xs-6 head-city">
			<span class="">г. Москва</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 head-security">
			<span class="">КОНФИДЕНЦИАЛЬНО</span>
		</div>
	</div>
</div>





<p align="center" style="margin-bottom: 0.25cm; line-height: 108%"><font color="#0070c0"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>Карта
рисков и рекомендаций</b></font></font></font></p>
<p align="center" style="margin-bottom: 0.25cm; line-height: 108%"><font color="#0070c0"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>по
итогам проведенной комплаенс-экспертизы</b></font></font></font></p>
<p align="center" style="margin-bottom: 0.25cm; line-height: 108%"><font color="#0070c0"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>{{org_name}}</b></font></font></font></p>
<p align="center" style="margin-bottom: 0.25cm; line-height: 108%"><font color="#0070c0"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b>ОГРН
{{ogrn}}</b></font></font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-top: 0.51cm; margin-bottom: 0.51cm; line-height: 108%">
<br/>


</p>
<p align="justify" style="text-indent: 1.25cm;  margin-bottom: 0.25cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">В
ходе проведения комплаенс-аудита по
специальной методологии, разработанной
специалистами компании АНО «Агентство
Комплаенс Стандарт» на основе
законодательства, судебной практики,
международных стандартов, а также
методик и практик, используемых
контрольно-надзорными и правоохранительными
органами РФ, были выявлены несоответствия
документального оформления деятельности
</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{{org_name}}</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
отдельным нормам законодательства и
общепринятым стандартам ведения бизнеса.
</font></font>
</p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.51cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">По
итогам анализа данных несоответствий
составлена настоящая карта рисков и
разработан перечень рекомендаций,
внедрение которых позволит устранить
выявленные нарушения и понизить
существующие риски.</font></font></p><br/>

<div id="Table of Contents1" dir="ltr">




<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Место
Карты рисков в Комплексной комплаенс-защите
организации.</b></font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<br/>
<br/>

</p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Комплаенс</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
— обеспечение соответствия деятельности
организации требованиям законодательства
РФ, применимым нормам международного
права и законодательства зарубежных
стран, носящего экстерриториальный
характер, отраслевым стандартам и
требованиям, иным обязательным для
исполнения регулирующим документам, в
ряде случаев - применяемым к конкретной
ситуации обычаям и правилам делового
оборота, в том числе требованиям
репутационного характера, и создание
в организации механизмов анализа,
выявления и оценки рисков нарушения
законодательства, а также обеспечение
комплексной защиты организации.</font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Комплексная
комплаенс-защита организации</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
– это обеспечение юридической, финансовой
и репутационной безопасности Вашего
бизнеса.</font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Услуги
компании «ЮниЛигал» по внедрению
комплексной Комплаенс-защиты вашей
организации оказываются в три этапа,
на каждом из которых вы имеете возможность
регулировать необходимый именно вам
объем услуг и степень участия наших
специалистов в данном процессе.</font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">1
этап: Комплаенс-экспертиза</font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">2
этап: Дорожная карта по внедрению
Комплаенс</font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">3
этап: Внедрение Комплаенс</font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Данная
карта рисков является результатом
аналитической работы, произведенной
АНО «Агентство Комплаенс Стандарт» в
рамках оказания услуг </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{{org_name}}</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
по 1 этапу: комплаенс-экспертизе.</font></font></p>
<p align="justify" style="text-indent: 1.25cm; margin-bottom: 0.28cm; line-height: 100%">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">После
ознакомления с данной Картой рисков
</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{{org_name}}</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
самостоятельно принимает решение о
том, что именно из указанного в данной
Карте представляет особую ценность для
Вашей организации, и каков будет объем
дальнейшей работы наших специалистов
в случае, если Вы примете решение о
необходимости нашего дальнейшего
участия.</font></font></p>
<p style="margin-bottom: 0.28cm; line-height: 108%"><br/>
<br/>

</p>
	<div id="TextSection" dir="ltr"><h1 class="toc-heading-western" style="page-break-before: always">
		Оглавление	</h1>
	</div>


	{% for block in report %}
	<p style="margin-bottom: 0.18cm; line-height: 108%"><a href="#{{block.link}}"><font face="Times New Roman, serif">{{block.num}}. </font>	<font face="Times New Roman, serif">{{block.block_common_name}}</font></a></p>
	
	
		{% for stage in block.stages_with_risks %}
	

<p style="margin-left: 0.39cm; margin-bottom: 0.18cm; line-height: 108%">
	<a href="#{{stage.link}}"><font face="Times New Roman, serif"><b>{{block.num}}.{{stage.num}}. </b></font>	<font face="Times New Roman, serif"><b>{{stage.defections}}</b></font></a></p>
		{% endfor %}
	{% endfor %}
<p style="margin-bottom: 0.28cm; line-height: 108%"><br/>
<br/>

</p>

	{% for block in report %}
		<a name="{{block.link}}"><h1 class="western" align="justify" style="page-break-before: always">
			<font face="Times New Roman, serif">{{block.num}}. {{block.block_common_name}}</font>
		</h1></a>
		{% for stage in block.stages_with_risks %}
			<a name="{{stage.link}}"><h2 class="western" align="justify">
				<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><u><b>{{block.num}}.{{stage.num}}. {{stage.defections}}</b></u></font></font>
			</h2></a>
			<p align="justify" style="margin-bottom: 0.15cm; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><i><u><b>Риск:</b></u></i></font></font></font></p>
			<p align="justify" style="margin-bottom: 0.25cm; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{{stage.risks|safe}}</font></font></font></p>
			<p align="justify" style="margin-bottom: 0.15cm; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><i><u><b>Рекомендация:</b></u></i></font></font></font></p>
			<p align="justify" style="margin-bottom: 0.25cm; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{{stage.recs|safe}}</font></font></font></p>
			{% if stage.comment %}
				<p align="justify" style="margin-bottom: 0.15cm; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><i><u><b>Комментарий эксперта:</b></u></i></font></font></font></p>
				<p align="justify" style="margin-bottom: 0.25cm; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">{{stage.comment|safe}}</font></font></font></p>
			{% endif %}
		{% endfor %}

	{% endfor %}


<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>